<div class="card-body text-secondary">
    <h4 class="card-title">Tus Proyectos</h4>
    <div class="my-3">
      <button class="btn btn-rounded btn btn-success" types="button" [routerLink] = "['/proyectos/form-proyectos.component']">Nuevo Proyecto</button>
    </div>


    <!--Lista desplegable-->
    <!--<div class="form-group my-3">
    <label for="ordenProyectos">Ordenar por:</label>
      <select class="custom-select">
        <option selected>Seleccione</option>
        <option value="estado">Estado</option>
        <option value="acronimo">Acrónimo</option>
        <option value="nombre">Nombre</option>
      </select>
    </div>-->

    <table class="table text-center">
      <thead class="thead-dark">
        <tr>
          <th>Fecha de Inicio</th>
          <th>Fecha de Cierre</th>
          <th>Nombre</th>
          <th>Acrónimo</th>
          <th>Presupuesto</th>
          <th>Nºcontabilidad</th>
          <th>Ver</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let a of elementos[0]">
          <td>{{ proyectos[getOrdenPagindoIndex(a,   paginaActual)].fechaInicio }}</td>
          <td>{{ proyectos[getOrdenPagindoIndex(a,   paginaActual)].fechaCierre }}</td>
          <td>{{ proyectos[getOrdenPagindoIndex(a,   paginaActual)].nombre }}</td>
          <td>{{ proyectos[getOrdenPagindoIndex(a,   paginaActual)].acronimo }}</td>
          <td>{{ proyectos[getOrdenPagindoIndex(a,   paginaActual)].presupuesto }}</td>
          <td>{{ proyectos[getOrdenPagindoIndex(a,   paginaActual)].nContabilidad }}</td>
          <td>
            <img src="assets/iconos/lupa.png" class="rounded icon" alt="Editar Proyecto" [routerLink]="['/vistaProyectos/verProyecto/', proyectos[getOrdenPagindoIndex(a,   paginaActual)].acronimo]">
          </td>
        </tr>

        <tr><!--Los botones llaman a las funciones anterior y siguiente y actualizan a la pagina correspondiente-->
          <button type="button" class="btn btn-link mr-2" (click) ="paginaActual= anterior(paginaActual, proyectos.length, 0)">
              <img src="assets/iconos/anterior.png" class="rounded icon" alt="Anterior">
          </button>
          
          <button type="button" class="btn btn-link" (click) = "paginaActual = siguiente(paginaActual, proyectos.length, 0)">
              <img src="assets/iconos/siguiente.png" class="rounded icon" alt="Siguiente">
          </button>
        </tr>
      </tbody>


    </table>
  </div>
