<div class="card-body text-secondary">
    <h4 class="card-title">Tus Proyectos</h4>
    <div class="my-3">
      <button class="btn btn-rounded btn btn-success" types="button" [routerLink] = "['/proyectos/form-proyectos.component']">Nuevo Proyecto</button>
    </div>


    <!--Lista desplegable-->
    <div class="form-group my-3">
    <label for="ordenProyectos">Ordenar por:</label>
      <select class="custom-select">
        <option selected>Seleccione</option>
        <option value="estado">Estado</option>
        <option value="acronimo">Acrónimo</option>
        <option value="nombre">Nombre</option>
      </select>
    </div>

    <table class="table table-bordered table-striped text-center">
      <thead class="thead-dark">
        <tr>
          <th>Fecha de Inicio</th>
          <th>Fecha de Cierre</th>
          <th>Nombre</th>
          <th>Acrónimo</th>
          <th>Presupuesto</th>
          <th>Nºcontabilidad</th>
          <th>Editar</th>
          <th>Borrar</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let proyecto of proyectos">
          <td>{{ proyecto.fechaInicio }}</td>
          <td>{{ proyecto.fechaCierre }}</td>
          <td>{{ proyecto.nombre }}</td>
          <td>{{ proyecto.acronimo }}</td>
          <td>{{ proyecto.presupuesto }}</td>
          <td>{{ proyecto.nContabilidad }}</td>
          <td>
            <button type="button" class="btn btn-link" name="button" >
              <img src="assets/iconos/editar.png" class="rounded" alt="Editar Proyecto">
            </button>
          </td>
          <td>
            <button type="button" class="btn btn-link" name="button" (click)="borrarProyecto(proyecto)" >
              <img src="assets/iconos/papelera.png" class="rounded" alt="Eliminar Proyecto">
            </button>
          </td>
        </tr>
      </tbody>


    </table>
  </div>
