<div class="card">
  <div class="card bg-dark">
    <div class="card-header text-white">
      {{tituloProyectos}}
    </div>
  </div>

  <form class="m-3">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="fechaInicio">   Fecha de Inicio</label>
        <input type="date" class="form-control" [(ngModel)]="proyecto.fechaInicio" id="fechaInicio" placeholder="fecha de inicio" name="fechaInicio">
      </div>
      <div class="form-group col-md-6">
        <label for="fechaCierre">   Fecha de Cierre</label>
        <input type="date" class="form-control" [(ngModel)]="proyecto.fechaCierre" id="fechaCierre" placeholder="fecha de cierre" name="fechaCierre">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" [(ngModel)]="proyecto.nombre" id="nombre" placeholder="nombre del proyecto" name="nombre">
      </div>
      <div class="form-group col-md-6">
        <label for="acronimo">   Acrónimo</label>
        <input type="text" class="form-control" [(ngModel)]="proyecto.acronimo" id="acronimo" placeholder="acrónimo" name="acronimo">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="presupuesto">Presupuesto</label>
        <input type="text" class="form-control" [(ngModel)]="proyecto.presupuesto" id="presupuesto" placeholder="presupuesto del proyecto" name="presupuesto">
      </div>
      <div class="form-group col-md-6">
        <label for="nContabilidad">   Nº de contabilidad</label>
        <input type="text" class="form-control" [(ngModel)]="proyecto.nContabilidad" id="nContabilidad" placeholder="Número de contabilidad" name="nContabilidad">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="ip1">IP</label>
        <input type="text" class="form-control" [(ngModel)]="proyecto.ip1" id="ip1" placeholder="Nombre IP" name="ip1">
      </div>
      <div class="form-group col-md-4">
        <label for="ip2">   IP 2</label>
        <input type="text" class="form-control" [(ngModel)]="proyecto.ip2" id="ip2" placeholder="Nombre de ip2" name="ip2">
      </div>
      <button class="btn btn-success ml-auto mr-auto mt-4 w-20 h-25" role="button" (click)="crearAcreedor()">Añadir IP</button>
    </div>


    <div class="card bg-dark">
      <div class="card-header text-white">
        Investigadores del proyecto
      </div>
    </div>

    <div class="card">
      <div class="form-row">
        <div class="form-group col-md-6 mt-2 ml-3">

        <!--  <button class="btn btn-success" types="button" [routerLink] = "['tabla-usuarios/tabla-usuarios.component']">Añadir investigadores</button> -->
          <button class="btn btn-success" types="button" (click)="anadirInvestigadores()">Añadir investigadores</button>
        </div>
      </div>

      <app-tabla-usuarios></app-tabla-usuarios>
      <br>
    </div>
    <br>
    <button class="btn btn-success" role="button" (click)="crearAcreedor()">Crear</button>
  </form>
  </div>
