

<div class = "row">
  <!--Memoria Justificativa-->
  <div class="col-md-6">
    <table class="table table-bordered text-center">
      <thead>
        <tr class="table-secondary">
          <th scope="col" colspan="4">Orden de Pago <br> <small>Memoria Justificativa</small></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Num. Orden</th>
          <td>{{orden.numeracion}}</td>
          <th scope="row">Fecha</th>
          <td>{{orden.fechaOrden}}</td>
        </tr>
        <tr>
          <th scope="row" colspan="2">Referencia al Proyecto</th>
          <th scope="row" colspan="2">Num. Contabilidad</th>
        </tr>
        <tr>
          <td colspan="2">{{orden.acronimo}}</td>
          <td colspan="2">{{orden.num_contabilidad}}</td>
        </tr>
      </tbody>
    </table>
  </div>  
<!--Acreedor-->
  <div class="col-md-6">
      <table class="table table-bordered text-center">
        <thead>
          <tr class="table-secondary">
            <th  scope="col" colspan="3">Pagar A <br> <small class="text-secondary"> &nbsp; </small>  </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" colspan="1">Nombre y Apellidos</th>
            <th scope="row" colspan="1">IBAN</th>
            <th scope="row" colspan="1">Observaciones</th>
          </tr>
          <tr>
              <td>{{acreedor.nombre}}</td>
              <td>{{acreedor.iban}}</td>
              <td>{{orden.observaciones}}</td>
          </tr>

         
        </tbody>
      </table>
    </div>

  <!--Datos del IP-->
  <div class="col-md-12">
    <table  class="table table-bordered text-center">
      <thead>
        <tr class="table-secondary">
          <th scope="col" colspan="4">Datos del Investigador Principal</th>
        </tr>
      </thead>
      <small class="alerta" *ngIf="!firmada">No se pueden mostrar los datos del IP hasta que no esté firmada</small>
      <tbody *ngIf="firmada">
        <tr>
          <th scope="row">Nombre y Apellidos</th>
          <td>{{ip.nombre}} {{ip.apellido1}}  {{ip.apellido2}}</td>
          <th scope="row">NIF</th>
          <td>{{ip.dni}}</td>
        </tr>
        <tr>
          <th scope="row">Departamento</th>
          <td>{{ip.departamento}}</td>
          <th scope="row">Telefono</th>
          <td>{{ip.telefono}}</td>
        </tr>
        <tr>
          <th scope="row">Centro</th>
          <td>{{ip.centro}}</td>
          <th scope="row">Email</th>
          <td>{{ip.email}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  

  <!--Tabla de gastos generales. Habra que poner un ngif con el tipo-->

  <div *ngIf="isG" class="col-md-12">
    <table class="table table-bordered text-center">
      <thead>
        <tr class="table-secondary">
          <th scope="col" colspan="4">Relación de gastos</th>
        </tr>
        <tr>
            <th scope="col">Nº de factura</th>
            <th scope="col">Proveedor, concepto y partida de gasto (máx. 150 caracteres)</th>
            <th scope="col">Importe</th>
            <th scope="col">Imagen Factura</th>
        </tr>
      </thead>
      <tbody *ngFor="let gasto of gastosGenerales">
        <tr>
          <td>{{gasto.nFactura}}</td>
          <td>{{gasto.descripcion}}</td>
          <td>{{gasto.importe}}</td>
          <td>
            <button type="button" class="btn btn-link" name="button" (click)='verFoto(gasto.foto)'>
              <img src="assets/iconos/lupa.png" class="rounded icon" alt="ver foto">
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="isV" class="col-md-12">
    <table class="table table-bordered text-center">
      <thead>
        <tr class="table-secondary">
          <th scope="col" colspan="6">Datos del Viaje/Desplazamiento</th>
        </tr>
      </thead>

      <tbody>
          <tr>
              <th scope="col" colspan="2">Nombre y apellidos de quien realiza el viaje</th>
              <td colspan="4">{{usuario.nombre}} {{usuario.apellido1}}  {{usuario.apellido2}}</td> <!--Cambiar por usuario-->
          </tr>
          <tr>
              <th scope="col" colspan="2">Relación con el Proyecto</th>
              <td colspan="4">{{orden.relacion}} </td> 
          </tr>
          <tr>
              <th scope="col" colspan="2">Objeto del desplazamiento en relación con la ejecución del proyecto</th>
              <td colspan="4">{{orden.memoria}} </td> 
          </tr>
        <tr>
            <th scope="col">Itinerario:</th>
          <td>{{gastoViaje.itinerario}}</td><!--Cambiar por gastoViaje-->
          <th scope="col">Fecha ida:</th>
          <td>{{gastoViaje.fechaIda}}</td> <!--Cambiar por gastoViaje-->
          <th scope="col">Fecha vuelta:</th>
          <td>{{gastoViaje.fechaVuelta}}</td> <!--Cambiar por gastoViaje-->
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="isV" class="col-md-12">
      <table class="table table-bordered">
        <thead>
          <tr class="table-secondary">
            <th class="text-center" scope="col" colspan="5">Justificación de Gastos</th>
            <th class="text-center" scope="col">Importe</th>
          </tr>
        </thead>
  
        <tbody>
          <tr>
            <th class="text-center" rowspan="6">Transporte</th>
            <th colspan="1">Avion</th>
            <td colspan="3">{{gastoViaje.avion}}</td>
            <td class="text-center">{{gastoViaje.importeAvion}}</td>                
          </tr>
          <tr>
            <th >Coche</th>
            <th class="text-right" colspan="2">Numero de KM</th>
            <td>{{gastoViaje.nkilometros}}</td> 
            <td class="text-center">{{gastoViaje.importeCoche}}</td>                
          </tr>
          <tr>
            <th colspan="1">Tren</th>
            <td colspan="3">{{gastoViaje.tren}}</td>
            <td class="text-center">{{gastoViaje.importeTren}}</td>                
          </tr>
          <tr>
            <th colspan="1">Autobus</th>
            <td colspan="3">{{gastoViaje.autobus}}</td>
            <td class="text-center">{{gastoViaje.importeAutobus}}</td>                
          </tr>
          <tr>
            <th colspan="1">Taxi</th>
            <td colspan="3">{{gastoViaje.taxi}}</td>
            <td class="text-center">{{gastoViaje.importeTaxi}}</td>                
          </tr>
          <tr>
            <th colspan="1">Otros</th>
            <td colspan="3">{{gastoViaje.otros}}</td>  
            <td class="text-center">{{gastoViaje.importeOtros}}</td>               
          </tr>
          <tr>
            <th class="text-center">Alojamiento</th>
            <th colspan="4">Factura Hotel</th>
            <td class="text-center">{{gastoViaje.importeHotel}}</td>                
          </tr>
          <tr>
            <th class="text-center">Manutencion</th>
            <th>Nº de Dietas</th>
            <td>{{gastoViaje.nDietas}}</td>       
            <th class="text-right">Precio de dieta (€/Dia)</th>
            <td>{{gastoViaje.precioDieta}}</td>        
            <td class="text-center">{{gastoViaje.importeDietas}}</td>        
          </tr>
          <tr class="table-secondary">
            <th class="text-right" colspan="5">TOTAL GASTOS:</th>
            <td class="text-center">{{gastoViaje.importeTotal}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  

  <div *ngIf="isG" class="col-md-12">
    <table class="table table-bordered text-center">
      <thead>
        <tr class="table-secondary">
          <th scope="col">Memoria Explicativa</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{orden.memoria}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-md-12">
    <table class="table table-bordered text-center">
      <thead>
        <tr class="table-secondary">
          <th scope="col">Relacion con el Proyecto</th>
        </tr>
      </thead>
      <tbody >
        <tr>
          <td>{{orden.relacion}}</td>
        </tr>
      </tbody>
    </table>
  </div>


  <div class="col-md-12" *ngIf="orden.estado == 'PM' ">
      <table class="table table-bordered text-center">
        <thead>
          <tr class="table-secondary">
            <th scope="col">Modificaciones Pendientes</th>
          </tr>
        </thead>
        <tbody >
          <tr>
            <td class="text-danger">{{orden.observaciones_IP}}</td>
          </tr>
        </tbody>
      </table>
    </div>

 
  <div class="col-md-12">
      <div class="col-md-6">
          <button *ngIf="!firmada && isIP" class="btn btn-rounded btn btn-success m-2" types="button" (click)="firmarOrden()">Aceptar Orden</button>
          <button *ngIf="!firmada && isIP" class="btn btn-rounded btn btn-danger m-2" types="button" (click)="rechazarOrden()">Rechazar Orden</button>
            
          <button *ngIf="!firmada && isIP && !modificacion" class="btn btn-rounded btn btn-warning m-2" types="button" (click)="pedirModificacionOrden()">Pedir Modificación</button>
          <button *ngIf="!firmada && isIP && modificacion" class="btn btn-rounded btn btn-outline-warning mt-2 m-2" types="button" (click)="enviarModificacion()">Enviar</button>
         
          
      </div>
    
      <div class="col-md-3">
          <textarea *ngIf="!firmada && isIP && modificacion" class="form-control textarea m-2" id="memoria" rows="3" [(ngModel)]="observacionesIP" placeholder="Escribe las modificaciones necesarias"  ></textarea> 
      </div>
      <div class="col-md-2"> 
        <button  class="btn btn-rounded btn btn-outline-danger mt-2 m-2" types="button" (click)="cancelar()">Volver a Ordenes</button>
         
      </div>
          
  </div>  
  
  
  <!-- <button class="btn btn-rounded btn btn-success m-0" types="button" (click)="pedirModificacionOrden()">Modificar Orden</button>-->
  <!--<button (click)="generarPDF()"> GENERAR PDF</button>  -->

</div>