<div class="card">
  <div class="card bg-dark">
    <div class="card-header text-white">
      {{tituloProyectos}}
    </div>
  </div>

  <form [formGroup]="formProyecto" class="m-3">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="fechaInicio">   Fecha de Inicio</label>
        <input type="date" class="form-control" formControlName="fechaInicio" id="fechaInicio" placeholder="fecha de inicio" name="fechaInicio">
      </div>
      <div class="form-group col-md-6">
        <label for="fechaCierre">   Fecha de Cierre</label>
        <input type="date" class="form-control" formControlName="fechaCierre" id="fechaCierre" placeholder="fecha de cierre" name="fechaCierre">
        <div class="alerta">
          <small *ngIf="!formValid && proyecto.fechaInicio > proyecto.fechaCierre">Las fechas introducidas no son válidas <br></small>
        </div>
      </div>
    </div>

    <div class="form-row">

      <div class="form-group col-md-6">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" formControlName="nombre" id="nombre" placeholder="nombre del proyecto" name="nombre" maxlength="20">
        <div class="alerta">
          <small *ngIf="!formValid && formProyecto.get('nombre').hasError('required')">No puede estar vacio <br></small>
        </div>
      </div>

      <div class="form-group col-md-6">
        <label for="acronimo">   Acrónimo</label>
        <input type="text" class="form-control" formControlName="acronimo" id="acronimo" placeholder="acrónimo" name="acronimo" maxlength="20">
        <div class="alerta">
          <small *ngIf="!formValid && formProyecto.get('acronimo').hasError('required')">No puede estar vacio <br></small>
        </div>
      </div>

    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="presupuesto">Presupuesto</label>
        <input type="text" class="form-control" formControlName="presupuesto" id="presupuesto" placeholder="presupuesto del proyecto" name="presupuesto"  maxlength="8">
        <div class="alerta">
          <small *ngIf="!formValid && formProyecto.get('presupuesto').hasError('required')">No puede estar vacio <br></small>
        </div>
      </div>

      <div class="form-group col-md-6">
        <label for="nContabilidad">   Nº de contabilidad</label>
        <input type="text" class="form-control" formControlName="nContabilidad" id="nContabilidad" placeholder="Número de contabilidad" name="nContabilidad" maxlength="16" >
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6 mb-3">
        <label for="ip2">   IP 1</label>
        <input type="text" class="form-control"  id="ip1" placeholder={{nombreIP1}} name="ip1" disabled>
      </div>
        <div class="form-group col-md-6 mb-3">
            <label for="ip2">   IP 2</label>
             
            <select   class="form-control" id="ip2" formControlName="ip2" name="ip2">
              <option *ngFor="let usuario of usuarios_anadidos" value="{{usuario.dni}}">{{ usuario.nombre }} {{usuario.apellido1}} {{usuario.apellido2}} </option>
            </select>
        </div>
    </div>

    <div class="card bg-dark">
      <div class="card-header text-white">
        Investigadores del proyecto
      </div>
    </div>

    <div class="card">
      <div class="row">

        <!--TABLA IZQUIERDA-->
          <div class="col-sm">
            <table class="table table-bordered table-striped text-center">
              <thead class="thead-dark">
                <tr>
                  <th>Nombre</th>
                  <th>Añadir</th>
                </tr>
              </thead>

              <tbody  *ngFor="let usuario of usuarios">
                <tr>
                  <td>{{ usuario.nombre }} {{ usuario.apellido1 }} {{ usuario.apellido2 }}</td>
                  <td>
                    <img src="assets/iconos/mas.png" class="rounded" alt="Añadir Investigador" (click)="anadirInvestigador(usuario)">
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

        <form class="col-sm" formArrayName="investigadores"  >
          <!--TABLA DERECHA --- FORMULARIO INVESTIGADORES-->
          <div >
            <table class="table table-bordered table-striped text-center">
              <thead class="thead-dark">
                <tr>
                  <th>Nombre</th>
                  <th>Rol</th>
                  <th>Quitar</th>
                </tr>
              </thead>
              
            
              <tbody *ngFor="let investigador of usuarios_anadidos; let i = index;">
                  <tr [formGroupName]="i">
                    <td>{{ investigador.nombre }} {{ investigador.apellido1 }} {{ investigador.apellido2 }}</td>
                    <td> 
                      <select  formControlName="rol" (change)="actualizaRol()" class="form-control" id="rol"  name="rol"> 
                          <option (onload)="selected" value="Miembro del proyecto" selected >Miembro del proyecto </option>
                          <option  value="Miembro del equipo de trabajo">Miembro del equipo de trabajo </option>
                          <option  value="Profesor Invitado">Profesor Invitado</option>
                      </select>
                    </td>
                    <td>
                          <img src="assets/iconos/menos.png" class="rounded" alt="Quitar Investigador"  (click)="quitarInvestigador(investigador)">
                    </td>
                    
                  </tr>
                
              </tbody>
            </table>
          </div>
        </form>

      </div>
    </div>

  </form>

  <div class="form-row ml-3 mb-3">
    <button class="btn btn-success" role="button" (click)="crearProyecto()">Crear</button>
    <button class="btn btn-danger" role="button" (click)="cancelar()">Cancelar</button>
  </div>
  
 
</div>
