<div class="card">
  <div class="card bg-dark">
    <div class="card-header text-white">
      {{tituloProyectos}}
    </div>
  </div>

  <form class="m-3">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="fechaInicio">   Fecha de Inicio</label>
        <input type="date" class="form-control" [(ngModel)]="proyecto.fechaInicio" id="fechaInicio" placeholder="fecha de inicio" name="fechaInicio">
      </div>
      <div class="form-group col-md-6">
        <label for="fechaCierre">   Fecha de Cierre</label>
        <input type="date" class="form-control" [(ngModel)]="proyecto.fechaCierre" id="fechaCierre" placeholder="fecha de cierre" name="fechaCierre">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" [(ngModel)]="proyecto.nombre" id="nombre" placeholder="nombre del proyecto" name="nombre">
      </div>
      <div class="form-group col-md-6">
        <label for="acronimo">   Acrónimo</label>
        <input type="text" class="form-control" [(ngModel)]="proyecto.acronimo" id="acronimo" placeholder="acrónimo" name="acronimo">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="presupuesto">Presupuesto</label>
        <input type="text" class="form-control" [(ngModel)]="proyecto.presupuesto" id="presupuesto" placeholder="presupuesto del proyecto" name="presupuesto">
      </div>
      <div class="form-group col-md-6">
        <label for="nContabilidad">   Nº de contabilidad</label>
        <input type="text" class="form-control" [(ngModel)]="proyecto.nContabilidad" id="nContabilidad" placeholder="Número de contabilidad" name="nContabilidad">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6 mb-3">
        <label for="ip2">   IP 1</label>
        <input type="text" class="form-control" [(ngModel)]="proyecto.ip1" id="ip1" placeholder={{nombreIP1}} name="ip1" disabled>
      </div>
      <div class="form-group col-md-5 mb-3">
        <label for="ip2">   IP 2</label>
        <!---->
        <input type="text" class="form-control" [(ngModel)]="proyecto.ip2" id="ip2" placeholder={{nombreIP2}} name="ip2" disabled >
      </div>
      <div class="form-group col-md-1 mb-3">
        <br>
        <button type="button" class="btn btn-link" name="button"  (click)="quitarIP2()" [hidden]="proyecto.ip2==NULL">
              <img src="assets/iconos/menos.png" class="rounded" alt="Quitar IP2">
        </button>
      </div>
    </div>

    <div class="card bg-dark">
      <div class="card-header text-white">
        Investigadores del proyecto
      </div>
    </div>

    <div class="card">
      <div class="row">

        <!--TABLA IZQUIERDA-->
          <div class="col-sm">
            <table class="table table-bordered table-striped text-center">
              <thead class="thead-dark">
                <tr>
                  <th>Nombre</th>
                  <th>Añadir</th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let usuario of usuarios">
                  <td>{{ usuario.nombre }} {{ usuario.apellido1 }} {{ usuario.apellido2 }}</td>

                  <td><button type="button" class="btn btn-link" name="button"  (click)="anadirInvestigador(usuario)">
                        <img src="assets/iconos/mas.png" class="rounded" alt="Añadir Investigador">
                      </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <!--TABLA DERECHA-->

          <div class="col-sm">
            <table class="table table-bordered table-striped text-center">
              <thead class="thead-dark">
                <tr>
                  <th>Nombre</th>
                  <th>Quitar</th>
                  <th [hidden]="proyecto.ip2!=NULL">IP 2</th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let usuario of usuarios_anadidos">
                  <td>{{ usuario.nombre }} {{ usuario.apellido1 }} {{ usuario.apellido2 }}</td>

                  <td>
                      <button type="button" class="btn btn-link" name="button"  (click)="quitarInvestigador(usuario)">
                        <img src="assets/iconos/menos.png" class="rounded" alt="Quitar Investigador">
                      </button>
                  </td>
                  <td [hidden]="proyecto.ip2!=NULL">
                      <button type="button" class="btn btn-link" name="button"  (click)="hacerIP2(usuario)" >
                        <img src="assets/iconos/mas.png" class="rounded" alt="Hacer IP2">
                      </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>
      <br>
    </div>
    <br>
    <button class="btn btn-success" role="button" (click)="crearProyecto()">Crear</button>
    <button class="btn btn-danger" role="button" (click)="cancelar()">Cancelar</button>
  </form>
  </div>
