.btn-danger{
  margin-left: 10px;
}
.form-control:focus{
  border-color: #228B22;
  border-width: 2px;
  box-shadow: none;
}


.custom-select:focus{
  border-color: #228B22;
  border-width: 2px;
  box-shadow: none;
  outline: none;
}

.custom-select option{
    background-color: #ffffff;

}

select:hover{
  outline: none;
}

.alerta{
  color: red;
}
