<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Geckop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['home']" routerLinkActive="active">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['perfil']" routerLinkActive="active">Perfil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['acreedores']" routerLinkActive="active">Acreedores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['orden']" routerLinkActive="active">Nueva Orden</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" [routerLink]="['login']" routerLinkActive="active">Login</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" [routerLink]="['registro']" routerLinkActive="active">Registro</a>
            </li>

        </ul>
        <!--
        <span class="navbar-text">
      <button (click)="login()"
        type="button"
        class="btn btn-outline-primary btn-sm">Login</button>

        <button (click)="registrar()"
        type="submit"
        class="btn btn-outline-primary btn-sm">Registro</button>

        <button (click)="salir()"
        type="submit"
        class="btn btn-outline-primary btn-sm">Salir</button> 
        </span>-->
    </div>
</nav>