<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand titulo-home" routerLink="/home" *ngIf="isLog">GECKOP</a>
    <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>-->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!--Bloques botón-->
        <div class="loginreg">
          <span class="navbar-text">
            <a *ngIf="isLog" class="iconPerfil" routerLink="/perfil"><img src="../../../assets/iconos/nav-user.png" alt="icono perfil usuario"></a>
              <button (click)="salir()" *ngIf="isLog; else notLogged"
                type="submit"
                class="btn btn-outline-success btn-sm">Salir
              </button>
          </span>

        </div>

    </div>

</nav>
