<div class="menu-ver">
  <div class="card float-left bg-dark mb-3 cont-menu-vertical" style="max-width: 18rem; text-align:center;">
    <div class="card-header text-white">
      Opciones
    </div>
    <ul class="list-group">
      <li class="list-group-item raton-menu" routerLink="/acreedores">Acreedores</li>
      <li class="list-group-item raton-menu" routerLink="/ordenes">Órdenes</li>
      <li class="list-group-item raton-menu" routerLink="/proyectos">Proyectos</li>
      <li class="list-group-item raton-menu" routerLink="/perfil">Perfil</li>
    </ul>
  </div>
</div>
