

.form-control{
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 1px solid #228B22;
    border-radius: 0%;

}

.form-control:focus{
    border-color: #228B22;
    border-width: 2px;
    box-shadow: none;
  }
  
  
/*h5{
    vertical-align: middle;
    margin-left: 35%;
}*/

#usuario{
    width:70%;
}

#email{
    width:60%;
}

#iban{
    width:60%;
}

#pass{
    width:60%;
}

.guardar{
    width:60%;
}

.alerta{
    color: red;
  }
  