<div>
 

    <div class="row align-items-center">

        <div class="col-sm-4">
          <img id="userIcon" src="../../../assets/iconos/usuario.png" alt="Imagen Usuario">
        </div>

        <div class="col-sm-8">

          <h4 class="mb-3">{{nombreCompleto}}</h4>

          <form [formGroup]="formPerfil">
          <div class="row align-items-center mb-2">
            <div class="col-sm-1">
              <img class="icon" src="assets/iconos/email.png" alt="Email">              
            </div>
            <div class="col-sm-5">
              {{user.email}}
            </div>
            <div class="col-sm-5">
                <input class="form-control" formControlName="email" type="text" placeholder="Nuevo Email" maxlength="20"> 
                <div class="alerta">
                  <small *ngIf="!emailValido && formPerfil.get('email').hasError('email')">Formato invalido <br></small>
                </div>
            </div>

          </div>
          
          <div class="row align-items-center mb-2">

            <div class="col-sm-1">
              <img class="icon" src="assets/iconos/iban.png"  alt="Iban">              
            </div>
            <div class="col-sm-5">
              {{ibanUsuario}}
            </div>
            <div class="col-sm-5">
                <input class="form-control" type="text" formControlName="iban" placeholder="Nuevo Iban" maxlength="34">
            </div>
            
          </div>

          <div class="row align-items-center mb-2">
              <div class="col-sm-1">
                <img class="icon" src="assets/iconos/telefono.png"  alt="telefono">              
              </div>
              <div class="col-sm-5">
                {{user.telefono}}
              </div>
              <div class="col-sm-5">
                  <input class="form-control" type="text" formControlName="telefono" placeholder="Telefono" maxlength="9">
              </div>
          </div>

          <div class="row align-items-center mb-2">
              <div class="col-sm-1">
                <img class="icon" src="assets/iconos/departamento.png"  alt="departamento">              
              </div>
              <div class="col-sm-5">
                {{user.departamento}}
              </div>
              <div class="col-sm-5">
                  <input class="form-control" type="text" formControlName="departamento" placeholder="Departamento" maxlength="50">
              </div>
          </div>

          <div class="row align-items-center mb-2">
              <div class="col-sm-1">
                <img class="icon" src="assets/iconos/centro.png"  alt="centro">              
              </div>
              <div class="col-sm-5">
                {{user.centro}}
              </div>
              <div class="col-sm-5">
                  <input class="form-control" type="text" formControlName="centro" placeholder="Centro" maxlength="9">
              </div>
          </div>

   
          
          <div class="row align-items-top mb-2">
            <div class="col-sm-1 mt-2">
              <img class="icon" src="assets/iconos/pass.png"  alt="Contraseña">
            </div>

            <div class="col-sm-5">
              <input class="form-control" type="password" formControlName="passOriginal" placeholder="Contraseña Actual" maxlength="10">
              <div class="alerta">
                <small *ngIf="!passAntigua">La contraseña no es correcta <br></small>
              </div>
            </div>

            <div class="col-sm-5">

              <div class="row align-items-center">
                <div class="col-sm">
                  <input class="form-control" type="password" formControlName="passNueva" placeholder="Contraseña Nueva" maxlength="10">
                  <div class="alerta">
                    <small *ngIf="!passValida && formPerfil.get('passNueva').hasError('minlength')">Mínimo de 5 caracteress<br></small>
                  </div>
                </div>
              </div>

              <div class="row align-items-center">
                <div class="col-sm">
                  <input class="form-control" type="password" formControlName="passNueva2" placeholder="Repite Contraseña" maxlength="10">
                  <div class="alerta">
                    <small *ngIf="!passValida && formPerfil.get('passNueva2').hasError('minlength')">Mínimo de 5 caracteress<br></small>
                    <small *ngIf="!passValida && !passIguales && !vacias">Las contraseñas no coinciden <br></small>
                  </div>
                </div>
              </div>

            </div>

          
          </div>

          <div class="row">
              <button class="btn btn-success" (click)="modificarDatos()" role="button" >Guardar</button>
          </div>
          </form>
          
        </div>
       
      </div>


</div>