<link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet' type='text/css'>

<!--<form [formGroup]="forma" (ngSubmit)="registro()">-->
<form [formGroup]="formRegistro" (ngSubmit)="registro()" #usuarioForm="ngForm">
    <div class="cont-registro">
        <div class="registro-izq">
            <img src="assets/marca.jpg" alt="logo geckop">
        </div>

        <div class="registro-der">

            <h2>Registro</h2>
            <input id="placeColor" formControlName="dni" type="text" placeholder="DNI" pattern="(([X-Z]{1})([-]?)(\d{7})([-]?)([A-Z]{1}))|((\d{8})([-]?)([A-Z]{1}))" maxlength="10">
            <div class="alerta">
              <small *ngIf="!formValid && formRegistro.get('dni').hasError('required')"> DNI no puede estar vacio <br></small>
              <small *ngIf="!formValid && formRegistro.get('dni').errors?.pattern">Formato erróneo</small>
            </div>


            <input id="placeColor" formControlName="nombre" type="text" placeholder="Nombre" maxlength="20">
            <div class="alerta">
              <small *ngIf="!formValid && formRegistro.get('nombre').hasError('required')">Nombre no puede estar vacio<br></small>
            </div>


            <input id="placeColor" formControlName="apellido1" type="text" placeholder="Primer Apellido" maxlength="20">
            <div class="alerta">
              <small *ngIf="!formValid && formRegistro.get('apellido1').hasError('required')">Primer apellido no puede estar vacio<br></small>
            </div>

            <input id="placeColor" formControlName="apellido2" type="text" placeholder="Segundo Apellido" maxlength="20">
            <div class="alerta">
              <small *ngIf="!formValid && formRegistro.get('apellido2').hasError('required')">Segundo apellido no puede estar vacio<br></small>
            </div>

            <input id="placeColor" type="email" placeholder="Correo Electrónico" formControlName="email" maxlength="50">
            <div class="alerta">
              <small *ngIf="!formValid && formRegistro.get('email').hasError('required')">Email no puede estar vacio<br></small>
              <small *ngIf="!formValid && formRegistro.get('email').hasError('email')">Formato erroneo<br></small>
            </div>

            <input id="placeColor" type="password" placeholder="Contraseña" formControlName="password" maxlength="10">
            <div class="alerta">
              <small *ngIf="!formValid && formRegistro.get('password').hasError('required')">Contraseña no puede estar vacio<br></small>
              <small *ngIf="!formValid && formRegistro.get('password').hasError('minlength')">Mínimo de 5 caracteres<br></small>
            </div>

            <!--No tiene mini porque  veces se referencian por la extensión dentro de la universidad-->
            <input id="placeColor" formControlName="telefono" type="text" placeholder="Teléfono" maxlength="9">
            <div class="alerta">
              <small *ngIf="!formValid && formRegistro.get('telefono').hasError('required')">Telefono no puede estar vacio<br></small>
            </div>
            <input id="placeColor" formControlName="departamento" type="text" placeholder="Departamento" maxlength="50">

            <input id="placeColor" formControlName="centro" type="text" placeholder="Centro" maxlength="50">


            <div id="checkTerm" class="mt-5">
              <label for="checkTerminos">
                  <input type="checkbox" id="checkTerminos" formControlName="tyc" value="checkTerminos" name="checkTerminos"> Al registrarse, aceptas nuestras <a href="https://ucm.es/aviso-legal">Condiciones de uso</a> y <a href="https://www.ucm.es/datos-personales">Política de privacidad.</a>
                  <div class="alerta">
                    <small *ngIf="!formValid && formRegistro.get('tyc').hasError('required')">Tienes que aceptar los terminos y condiciones y política de privacidad para poder registrate<br></small>
                  </div>
              </label>
            </div>

            <button type="submit"  class="btn btn-success btnRegistro" role="button">Registrarse</button>
            <div id="iniciarSesion">
                <label>¿Ya tienes una cuenta? <a href="#">Iniciar sesión</a></label>
            </div>
        </div>
    </div>
</form>
