<div class="card">
    <!--TITULO-->
    <div class="card bg-dark">
      <div class="card-header text-white text-center">
        ORDEN DE PAGO GASTOS VIAJES
      </div>
    </div>

    <form [formGroup]="formOrden">

      <div class="form-row mt-3">

        <!--<div class="form-group col-md-6">
          <label class="texto-form">Proyecto</label>
          <select class="custom-select" formControlName="proyecto">
            <option value="" selected>Seleccione acrónimo del proyecto</option>
            <option *ngFor="let proyecto of proyectos" value="{{ proyecto.acronimo }}">{{ proyecto.acronimo }}</option>
          </select>
        </div>-->

        <!--FECHA PRUEBA
        <p>{{this.fechaOrden | date:'dd-MM-yyyy'}}</p>-->

        <div class="form-group col-md-6">
          <label class="texto-form">Proyecto</label>
          <select class="custom-select" formControlName="acronimo" (change)="capturarValor()">
            <option value="" selected>Seleccione acrónimo del proyecto</option>
            <option *ngFor="let proyecto of misProyectos; index as i" value="{{ misProyectos[i].acronimo }}">{{ proyecto.acronimo }}</option>
          </select>
        </div>

        <div class="form-group col-md-6">
          <label class="texto-form">Acreedor</label>
          <select class="custom-select" formControlName="nif_acreedor">
            <option value="" selected>Seleccione acreedor</option>
            <option *ngFor="let acreedor of acreedores" value="{{ acreedor.nif }}">{{acreedor.nombre}} -- {{ acreedor.nif }}</option>
          </select>
        </div>

      </div>

      <div class="form-row">

          <div class="form-group col-md-6">
            <label class="texto-form">Concepto</label>
            <input type="text" class="form-control" formControlName="concepto" name="concepto" id="concepto" placeholder="Concepto" >
          </div>

          <div class="form-group col-md-6">
            <label class="texto-form">Num. Contabilidad</label>
            <input type="text" class="form-control" formControlName="num_contabilidad" name="num_contabilidad" id="num_contabilidad" placeholder="Num. Contabilidad" >
          </div>

        </div>

      <!--------------------------------------------------GASTOS----------------------------------------------------------------->
      <!--<app-gastos></app-gastos>-->
      <!--<p [hidden]="opcionSeleccionada=='0'">Has seleccionado la opcion {{misProyectos[i].acronimo}}</p>-->
    <div class="card-body" [hidden]="!verSeleccionada">

      <form class="card mb-4"  [formGroup]="formGastos" >
        <h3 class="texto-form mt-3">Justificación de gastos</h3>
        <!-- Entradas simples -->

      <div class="card-body" [hidden]="!verSeleccionada">

        <!--Fechas-->
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="fechaIda"><b>Fecha ida</b></label>
            <input type="date" class="form-control" formControlName="fechaIda" id="fechaIda" placeholder="Fecha ida" name="fechaIda">
          </div>
          <div class="form-group col-md-6">
            <label for="fechaVuelta"><b>Fecha vuelta</b></label>
            <input type="date" class="form-control" formControlName="fechaVuelta" id="fechaVuelta" placeholder="Fecha vuelta" name="fechaVuelta">
            <div class="alerta">
              <small *ngIf="!formValid && gasto.fechaIda > gasto.fechaVuelta">Las fechas introducidas no son válidas <br></small>
            </div>
          </div>
        </div>
        <!--Avion-->
        <div class="form-group">
          <div class="row">
              <div class="col-md-10">
                <label class ="tx-secondary" for="avion"><b>Avion</b></label>
                <input type="text" class="form-control" formControlName="avion" placeholder="(Máx 150 caracteres)" maxlength="200" id="avion" name="avion">
                <div class="alerta">
                  <small *ngIf="false">No puede estar vacio <br></small>
                </div>
              </div>

              <div class="col-md-2">
                <label for="importeAvion">Importe</label>
                <input type="number" class="form-control" formControlName="importeAvion" required min="0" value="0" step="any" name="importeAvion" id="importeAvion">
                <div class="alerta">
                  <small *ngIf="false">No puede estar vacio <br></small>
                </div>
              </div>
          </div>
          <br>
          <div class="form-group">
            <label for="imagen">Adjuntar Factura</label>
            <input (change)="seleccionarFoto($event)" type="file" class="form-control-file" id="fotoAvion">
          </div>
        </div>
        <br>
        <!--Coche-->
        <div class="form-group">
          <label class ="tx-secondary"><b>Coche</b></label>
          <div class="row">
              <div class="col-md-4">
                <label for="nKilometros">Nº de Kilometros</label>
                <input type="number" class="form-control" formControlName="nKilometros" required min="0" value="0" step="any" name="nKilometros" id="nKilometros">
                <div class="alerta">
                  <small *ngIf="false">No puede estar vacio <br></small>
                </div>
              </div>

              <div class="col-md-4">
                <label for="preciokm">€/km</label>
                <input type="number" class="form-control" placeholder="{{precioKilometro}}" name="preciokm" id="preciokm" disabled>
                <div class="alerta">
                  <small *ngIf="false">No puede estar vacio <br></small>
                </div>
              </div>

              <div class="col-md-4">
                <label for="importeCoche">Importe</label>
                <input type="number" class="form-control" formControlName="importeCoche" required min="0" value="0" step="any" name="importeCoche" id="importeCoche">
                <div class="alerta">
                  <small *ngIf="false">No puede estar vacio <br></small>
                </div>
              </div>
            </div>

            <br>
            <div class="form-group">
              <label for="imagen">Adjuntar Factura</label>
              <input (change)="seleccionarFoto($event)" type="file" class="form-control-file" id="fotoCoche">
            </div>
         </div>
        <br>
        <!--Tren-->
        <div class="form-group">
          <div class="row">
              <div class="col-md-10">
                <label class ="tx-secondary" for="tren"><b>Tren</b></label>
                <input type="text" class="form-control" formControlName="tren" placeholder="(Máx 150 caracteres)" maxlength="200" id="tren" name="tren">
                <div class="alerta">
                  <small *ngIf="false">No puede estar vacio <br></small>
                </div>
              </div>

              <div class="col-md-2">
                <label for="importeTren">Importe</label>
                <input type="number" class="form-control" formControlName="importeTren" required min="0" value="0" step="any" name="importeTren" id="importeTren">
                <div class="alerta">
                  <small *ngIf="false">No puede estar vacio <br></small>
                </div>
              </div>
          </div>
          <br>
          <div class="form-group">
            <label for="imagen">Adjuntar Factura</label>
            <input (change)="seleccionarFoto($event)" type="file" class="form-control-file" id="fotoTren">
          </div>
        </div>
        <br>
        <!--Autobus-->
        <div class="form-group">
          <div class="row">
              <div class="col-md-10">
                <label class ="tx-secondary" for="autobus"><b>Autobus</b></label>
                <input type="text" class="form-control" formControlName="autobus" placeholder="(Máx 150 caracteres)" maxlength="200" id="autobus" name="autobus">
                <div class="alerta">
                  <small *ngIf="false">No puede estar vacio <br></small>
                </div>
              </div>

              <div class="col-md-2">
                <label for="importeAutobus">Importe</label>
                <input type="number" class="form-control" formControlName="importeAutobus" required min="0" value="0" step="any" name="importeAutobus" id="importeAutobus">
                <div class="alerta">
                  <small *ngIf="false">No puede estar vacio <br></small>
                </div>
              </div>
          </div>
          <br>
          <div class="form-group">
            <label for="imagen">Adjuntar Factura</label>
            <input (change)="seleccionarFoto($event)" type="file" class="form-control-file" id="fotoAutobus">
          </div>
        </div>
        <br>
        <!--Taxi-->
        <div class="form-group">
          <div class="row">
              <div class="col-md-10">
                <label class ="tx-secondary" for="taxi"><b>Taxi</b></label>
                <input type="text" class="form-control" formControlName="taxi" placeholder="(Máx 150 caracteres)" maxlength="200" id="taxi" name="taxi">
                <div class="alerta">
                  <small *ngIf="false">No puede estar vacio <br></small>
                </div>
              </div>

              <div class="col-md-2">
                <label for="importeTaxi">Importe</label>
                <input type="number" class="form-control" formControlName="importeTaxi" required min="0" value="0" step="any" name="importeTaxi" id="importeTaxi">
                <div class="alerta">
                  <small *ngIf="false">No puede estar vacio <br></small>
                </div>
              </div>
          </div>
          <br>
          <div class="form-group">
            <label for="imagen">Adjuntar Factura</label>
            <input (change)="seleccionarFoto($event)" type="file" class="form-control-file" id="fotoTaxi">
          </div>
        </div>
        <br>
        <!--Otros-->
        <div class="form-group">
          <div class="row">
              <div class="col-md-10">
                <label class ="tx-secondary" for="otros"><b>Otros gastos</b></label>
                <input type="text" class="form-control" formControlName="otros" placeholder="(Máx 150 caracteres)" maxlength="200" id="otros" name="otros">
                <div class="alerta">
                  <small *ngIf="false">No puede estar vacio <br></small>
                </div>
              </div>

              <div class="col-md-2">
                <label for="importeOtros">Importe</label>
                <input type="number" class="form-control" formControlName="importeOtros" required min="0" value="0" step="any" name="importeOtros" id="importeOtros">
                <div class="alerta">
                  <small *ngIf="false">No puede estar vacio <br></small>
                </div>
              </div>
          </div>
          <br>
          <div class="form-group">
            <label for="imagen">Adjuntar Factura</label>
            <input (change)="seleccionarFoto($event)" type="file" class="form-control-file" id="fotoOtros">
          </div>
        </div>
        <br>
        <!--Hotel-->
        <div class="form-group">
          <div class="row">
              <div class="col-md-10">
                <br><br>
                <label class ="tx-secondary"><b>Factura de hotel</b></label>
              </div>

              <div class="col-md-2">
                <label for="importeHotel">Importe</label>
                <input type="number" class="form-control" formControlName="importeHotel" required min="0" value="0" step="any" name="importeHotel" id="importeHotel">
                <div class="alerta">
                  <small *ngIf="false">No puede estar vacio <br></small>
                </div>
              </div>
          </div>
          <br>
          <div class="form-group">
            <label for="imagen">Adjuntar Factura</label>
            <input (change)="seleccionarFoto($event)" type="file" class="form-control-file" id="fotoHotel">
          </div>
        </div>
        <br>
        <!--Manutención-->
        <div class="form-group">
          <label class ="tx-secondary"><b>Manutención</b></label>
          <div class="row">
              <div class="col-md-3">
                <label for="nDietas">Nº de dietas</label>
                <input type="number" class="form-control" formControlName="nDietas" required min="0" value="0" step="any" name="nDietas" id="nDietas">
                <div class="alerta">
                  <small *ngIf="false">No puede estar vacio <br></small>
                </div>
              </div>

              <div class="col-md-6">
                <label for="precioDietas">cuantía por dieta(€/día) <a href="https://www.ucm.es/data/cont/docs/32-2018-07-11-20180711_cuadro_dietas.pdf" target="_blank">[Ver cuadro de dietas]</a></label>
                <input type="number" class="form-control" formControlName="precioDietas" required min="0" value="0" step="any" name="precioDietas" id="precioDietas">
                <div class="alerta">
                  <small *ngIf="false">No puede estar vacio <br></small>
                </div>
              </div>

              <div class="col-md-3">
                <label for="importeDietas">Importe</label>
                <input type="number" class="form-control" formControlName="importeDietas" required min="0" value="0" step="any" name="importeDietas" id="importeDietas">
                <div class="alerta">
                  <small *ngIf="false">No puede estar vacio <br></small>
                </div>
              </div>
            </div>
            <br>
            <div class="form-group">
              <label for="imagen">Adjuntar Factura</label>
              <input (change)="seleccionarFoto($event)" type="file" class="form-control-file" id="fotoCoche">
            </div>
         </div>
        <br>
        <!--Otros gastos-->
        <div class="form-group">
          <div class="row">
              <div class="col-md-10">
                <br><br>
                <label class ="tx-secondary"><b>Inscripciones a congresos, seminarios, reuniones</b></label>
              </div>

              <div class="col-md-2">
                <label for="importeOtrosGastos">Importe</label>
                <input type="number" class="form-control" formControlName="importeOtrosGastos" required min="0" value="0" step="any" name="importeOtrosGastos" id="importeOtrosGastos">
                <div class="alerta">
                  <small *ngIf="false">No puede estar vacio <br></small>
                </div>
              </div>
          </div>
          <br>
          <div class="form-group">
            <label for="imagen">Adjuntar Factura</label>
            <input (change)="seleccionarFoto($event)" type="file" class="form-control-file" id="fotoOtrosGastos">
          </div>
        </div>
        <br>

        </div>


        </form>

      <!--TABLA GASTOS-->
        <table class="table table-bordered table-striped text-center">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Nº Factura</th>
              <th>Concepto</th>
              <th>Importe</th>
              <th>Imagen</th>
              <th>Eliminar</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let gasto of gastos">
              <td>{{ gasto.nFactura}}</td>
              <td class="maximoAncho">{{ gasto.descripcion }}</td>
              <td>{{ gasto.importe}}</td>

        <!--Ver foto gasto-->
              <td>
                <button type="button" class="btn btn-link" name="button" (click)='verFoto(gasto.foto)'>
                  <img src="assets/iconos/lupa.png" class="rounded" alt="ver foto" style="width: 10%; height:0.5%;">
                </button>
              </td>
              <td>
                <button type="button" class="btn btn-link" name="button" (click)='eliminarGasto(gasto)' >
                  <img class="img-thumbnail rounded" src="assets/iconos/papelera.png" class="rounded" alt="Eliminar gasto">
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

        <br>
        <div class="form-group">
          <label class="texto-form" for="memoria">Objeto del desplazamiento en relación con la ejecución del proyecto</label>
          <textarea class="form-control" id="memoria" rows="3" formControlName="memoria" placeholder="Escribe la memoria explicativa" ></textarea>
          <div class="alerta">
            <small *ngIf="false">No puede estar vacio <br></small>
          </div>
        </div>

        <br>
        <div class="form-group">
          <label class="texto-form" for="relacion">Relación con el proyecto</label>
          <textarea class="form-control" id="relacion" rows="3" formControlName="relacion" placeholder="Escribe la relación con el proyecto" disabled></textarea>
          <div class="alerta">
            <small *ngIf="false">No puede estar vacio <br></small>
          </div>
        </div>

        <br>
        <div class="form-group">
          <label class="texto-form" for="observaciones">Observaciones a la hora de pagar al acreedor</label>
          <textarea class="form-control" id="observaciones" rows="3" formControlName="observaciones" placeholder="Escribe las observaciones que creas correspondientes"></textarea>
        </div>
      <br>
        <a href="#"><img src="../../../../../assets/iconos/pdf.png" alt="Descargar orden pdf" width="80px"></a>
      <br><br>
      <button class="btn btn-success" role="button" (click)="cargarNumProyectoOrden()">Crear Orden</button>
      <button class="btn btn-danger" role="button" (click)="cancelar()">Cancelar</button>
      <br><br>

      <!--<div class="form-group">
        <button class="btn btn-rounded btn btn-success m-0" types="button" (click)="anadirGastoViaje()">Añadir Gasto</button>
      </div>-->
    </form>

</div>
