<div class="card">
    <!--TITULO-->
    <div class="card bg-dark">
      <div class="card-header text-white text-center">
        ORDEN DE PAGO GASTOS VIAJES
      </div>
    </div>

    <form [formGroup]="formOrden">

      <div class="form-row mt-3">
        <div class="form-group col-md-6">
          <label class="texto-form">Proyecto</label>
          <select class="custom-select" formControlName="acronimo" (change)="capturarValor()">
            <option value="" selected>Seleccione acrónimo del proyecto</option>
            <option *ngFor="let proyecto of misProyectos; index as i" value="{{ misProyectos[i].acronimo }}">{{ proyecto.acronimo }}</option>
          </select>
          <small *ngIf="!crear &&formOrden.get('acronimo').hasError('required')" class="alerta">No puede estar vacio. </small>
        </div>

        <div class="form-group col-md-6">
          <label class="texto-form">Acreedor</label>
          <select class="custom-select" formControlName="nif_acreedor">
            <option value="" selected>Seleccione acreedor</option>
            <option *ngFor="let acreedor of acreedores" value="{{ acreedor.nif }}">{{acreedor.nombre}} -- {{ acreedor.nif }}</option>
          </select>
          <small *ngIf="!crear &&formOrden.get('nif_acreedor').hasError('required')" class="alerta">No puede estar vacio. </small>
          <small *ngIf="!ibanRegistrado" class="alerta">No estás registrado como acreedor. Registraté si quieres ser el acreedor de la orden </small>
        </div>

      </div>

      <div class="form-row">

          <div class="form-group col-md-6">
            <label class="texto-form">Concepto</label>
            <input type="text" class="form-control" formControlName="concepto" name="concepto" id="concepto" placeholder="Concepto" >
            <small *ngIf="!crear &&formOrden.get('concepto').hasError('required')" class="alerta">No puede estar vacio. </small>
          </div>

          <div class="form-group col-md-6">
            <label class="texto-form">Num. Contabilidad</label>
            <input type="text" class="form-control"  name="num_contabilidad" id="num_contabilidad" placeholder="{{num_contabilidad}}" >
             </div>

        </div>
      <div class="row">
        <div class="form-group form-inline espacioIzq2">
          <div>
              <label class="texto-form" for="relacion">Relación con el proyecto:&nbsp;&nbsp;</label>
          </div>
          <div class="form-check">
            <input class="form-check-input ml-1" type="checkbox" value="" id="checkMP" checked *ngIf="checkMP" disabled>
            <input class="form-check-input ml-1" type="checkbox" value="" id="checkMP" *ngIf="!checkMP" disabled>
            <label class="form-check-label mr-3" for="checkMP">
              Miembro del proyecto
            </label>
          </div>

          <div class="form-check">
            <input class="form-check-input ml-1" type="checkbox" value="" id="checkME" checked *ngIf="checkME" disabled>
            <input class="form-check-input ml-1" type="checkbox" value="" id="checkME" *ngIf="!checkME" disabled>
            <label class="form-check-label mr-3" for="checkME">
              Miembro del equipo de trabajo
            </label>
          </div>

          <div class="form-check">
            <input class="form-check-input ml-1" type="checkbox" value="" id="checkPI" checked *ngIf="checkPI" disabled>
            <input class="form-check-input ml-1" type="checkbox" value="" id="checkPI" *ngIf="!checkPI" disabled>
            <label class="form-check-label mr-3" for="checkPI">
              Profesor invitado
            </label>
          </div>
        </div>
  </div>

      <!--------------------------------------------------GASTOS----------------------------------------------------------------->
      <!--<app-gastos></app-gastos>-->
      <!--<p [hidden]="opcionSeleccionada=='0'">Has seleccionado la opcion {{misProyectos[i].acronimo}}</p>-->
    <div class="card-body" [hidden]="!verSeleccionada">

      <form class="card mb-4"  [formGroup]="formGastos" >
        <h3 class="texto-form mt-3">Justificación de gastos</h3>
        <!-- Entradas simples -->

      <div class="card-body" [hidden]="!verSeleccionada">

        <!--Fechas e itinerario-->
        <div class="form-row form-inline bordeDiv">
          <div class="form-group fechaDer">
            <label for="fechaIda"><b>Fecha ida:&nbsp;&nbsp;</b></label>
            <input type="date" class="form-control" formControlName="fechaIda" id="fechaIda" placeholder="Fecha ida" name="fechaIda">
          </div>

          <div class="form-group">
            <label for="fechaVuelta"><b>Fecha vuelta:&nbsp;&nbsp;</b></label>
            <input type="date" class="form-control" formControlName="fechaVuelta" id="fechaVuelta" placeholder="Fecha vuelta" name="fechaVuelta">
            <small class="alerta" *ngIf="!formValid && gastoViaje.fechaIda > gastoViaje.fechaVuelta">Las fechas introducidas no son válidas <br></small>
          </div>

          <div class="form-group itinerario">
            <label class ="tx-secondary mr-2 mt-3" for="itinerario"><b>Itinerario:</b></label>
            <input type="text" class="form-control itinerario" formControlName="itinerario" placeholder="(Máx 150 caracteres)" maxlength="150" id="itinerario" name="itinerario">
          </div>
        </div>

        <br>
  <div>
        <h3 class="texto-form mt-3">Elija los transportes que ha utilizado</h3>
        <!--Checkbox avion-->
        <div class="form-check">
          <input class="form-check-input ml-1" type="checkbox" value="" id="defaultCheck1" (change)="capturarValorCheck('avion')">
          <label class="form-check-label ml-4" for="defaultCheck1">
            Avión
          </label>
        </div>

        <!--Avion-->
        <div class="form-group bordeTransporte" [hidden]="!checkAvion">
          <div class="row">
              <div class="col-md-10">
                <label class ="tx-secondary" for="avion"><b>Avion</b></label>

                  <small *ngIf="false">No puede estar vacio <br></small>
                </div>
              </div>

              <div class="col-md-2">
                <label for="importeAvion">Importe</label>
                <input type="number" class="form-control" formControlName="importeAvion" required min="0" value="0" step="any" name="importeAvion" id="importeAvion" onFocus="if (this.value==0) this.value='';" (change)="calculoImporteTotal('avion')">

              </div>

              <div class="form-group">
                <label for="imagen">Adjuntar Factura</label>
                <input (change)="seleccionarFoto($event, 'avion')" type="file" class="form-control-file" id="fotoAvion">
              </div>
          </div>



        <!--Checkbox coche-->
        <div class="form-check">
          <input class="form-check-input ml-1" type="checkbox" value="" id="defaultCheck2" (change)="capturarValorCheck('coche')">
          <label class="form-check-label ml-4" for="defaultCheck2">
            Coche
          </label>
        </div>

        <!--Coche-->
        <div class="form-group bordeTransporte" [hidden]="!checkCoche">
          <label class ="tx-secondary"><b>Coche</b></label>
          <div class="row">
              <div class="col-md-8">
                <label for="nkilometros">Nº de Kilometros</label>
                <input type="number" class="form-control" formControlName="nkilometros" required min="0" value="0" step="any" name="nkilometros" id="nkilometros" (change)="calculoImporteCoche()" onFocus="if (this.value==0) this.value='';">

              </div>

              <div class="col-md-2">
                <label for="preciokm">€/km</label>
                <input type="number" class="form-control" placeholder="{{precioKilometro}}" name="preciokm" id="preciokm" disabled>

              </div>

              <div class="col-md-2">
                <label for="importeCoche">Importe</label>
                <input type="number" class="form-control" formControlName="importeCoche" required min="0" value="0" step="any" name="importeCoche" id="importeCoche" disabled onFocus="if (this.value==0) this.value='';">

              </div>
            </div>

            <br>
            <div class="form-group">
              <label for="imagen">Adjuntar Factura</label>
              <input (change)="seleccionarFoto($event, 'coche')" type="file" class="form-control-file" id="fotoCoche">
            </div>
            <br>
         </div>


        <!--Checkbox tren-->
        <div class="form-check">
          <input class="form-check-input ml-1" type="checkbox" value="" id="defaultCheck3" (change)="capturarValorCheck('tren')">
          <label class="form-check-label ml-4" for="defaultCheck3">
            Tren
          </label>
        </div>

        <!--Tren-->
        <div class="form-group bordeTransporte" [hidden]="!checkTren">
          <div class="row">
              <div class="col-md-10">
                <label class ="tx-secondary" for="tren"><b>Tren</b></label>
                  <small *ngIf="false">No puede estar vacio <br></small>
                </div>
              </div>

              <div class="col-md-2">
                <label for="importeTren">Importe</label>
                <input type="number" class="form-control" formControlName="importeTren" required min="0" value="0" step="any" name="importeTren" id="importeTren" (change)="calculoImporteTotal('tren')" onFocus="if (this.value==0) this.value='';">

              </div>
              <div class="form-group">
                <label for="imagen">Adjuntar Factura</label>
                <input (change)="seleccionarFoto($event, 'tren')" type="file" class="form-control-file" id="fotoTren">
              </div>
              <br>
          </div>

        <!--Checkbox autobus-->
        <div class="form-check">
          <input class="form-check-input ml-1" type="checkbox" value="" id="defaultCheck4" (change)="capturarValorCheck('autobus')">
          <label class="form-check-label ml-4" for="defaultCheck4">
            Autobús
          </label>
        </div>
        <!--Autobus-->
        <div class="form-group bordeTransporte" [hidden]="!checkAutobus">
          <div class="row">
              <div class="col-md-10">
                <label class ="tx-secondary" for="autobus"><b>Autobus</b></label>


              </div>

              <div class="col-md-2">
                <label for="importeAutobus">Importe</label>
                <input type="number" class="form-control" formControlName="importeAutobus" required min="0" value="0" step="any" name="importeAutobus" id="importeAutobus" onFocus="if (this.value==0) this.value='';" (change)="calculoImporteTotal('autobus')">

              </div>
          </div>
          <br>
          <div class="form-group">
            <label for="imagen">Adjuntar Factura</label>
            <input (change)="seleccionarFoto($event, 'autobus')" type="file" class="form-control-file" id="fotoAutobus">
          </div>
          <br>
        </div>

        <!--Checkbox taxi-->
        <div class="form-check">
          <input class="form-check-input ml-1" type="checkbox" value="" id="defaultCheck5" (change)="capturarValorCheck('taxi')">
          <label class="form-check-label ml-4" for="defaultCheck5">
            Taxi o Similares
          </label>
        </div>

        <!--Taxi-->
        <div class="form-group bordeTransporte" [hidden]="!checkTaxi">
          <div class="row">
              <div class="col-md-10">

                <label class ="tx-secondary" for="taxi"><b>Taxi, Uber Cabify, etc.</b></label>
                <input type="text" class="form-control" formControlName="taxi" placeholder="(Máx 150 caracteres)" maxlength="200" id="taxi" name="taxi">
                <div class="alerta">
                  <small *ngIf="false">No puede estar vacio <br></small>
                </div>
              </div>

              <div class="col-md-2">
                <label for="importeTaxi">Importe</label>
                <input type="number" class="form-control" formControlName="importeTaxi" required min="0" value="0" step="any" name="importeTaxi" id="importeTaxi" onFocus="if (this.value==0) this.value='';" (change)="calculoImporteTotal('taxi')">

              </div>
          </div>
          <br>
          <div class="form-group">
            <label for="imagen">Adjuntar Factura</label>
            <input (change)="seleccionarFoto($event, 'taxi')" type="file" class="form-control-file" id="fotoTaxi">
          </div>
          <br>
        </div>

        <!--Checkbox otros-->
        <div class="form-check">
          <input class="form-check-input ml-1" type="checkbox" value="" id="defaultCheck6" (change)="capturarValorCheck('otros')">
          <label class="form-check-label ml-4" for="defaultCheck6">
            Otros gastos
          </label>
        </div>

        <!--Otros-->
        <div class="form-group bordeTransporte" [hidden]="!checkOtros">
          <div class="row">
              <div class="col-md-10">
                <label class ="tx-secondary" for="otros"><b>Otros</b></label>
                <input type="text" class="form-control" formControlName="otros" placeholder="(Máx 150 caracteres)" maxlength="200" id="otros" name="otros">

              </div>

              <div class="col-md-2">
                <label for="importeOtros">Importe</label>
                <input type="number" class="form-control" formControlName="importeOtros" required min="0" value="0" step="any" name="importeOtros" id="importeOtros" onFocus="if (this.value==0) this.value='';" (change)="calculoImporteTotal('otros')">

              </div>
          </div>
          <br>
          <div class="form-group">
            <label for="imagen">Adjuntar Factura</label>
            <input (change)="seleccionarFoto($event, 'otros')" type="file" class="form-control-file" id="fotoOtros">
          </div>
        </div>
        <br>
    </div>
        <!--Hotel-->
        <div class="form-group bordeDiv">
          <div class="row">
              <div class="col-md-10">
                <br><br>
                <label class ="tx-secondary"><b>Factura de hotel</b></label>
              </div>

              <div class="col-md-2">
                <label for="importeHotel">Importe</label>
                <input type="number" class="form-control" formControlName="importeHotel" required min="0" value="0" step="any" name="importeHotel" id="importeHotel" onFocus="if (this.value==0) this.value='';" (change)="calculoImporteTotal('hotel')">

              </div>
          </div>
          <br>
          <div class="form-group">
            <label for="imagen">Adjuntar Factura</label>
            <input (change)="seleccionarFoto($event, 'hotel')" type="file" class="form-control-file" id="fotoHotel">
          </div>
        </div>
        <br>
        <!--Manutención-->
        <div class="form-group bordeDiv">
          <label class ="tx-secondary"><b>Manutención</b></label>
          <div class="row">
              <div class="col-md-3">
                <label for="nDietas">Nº de dietas</label>
                <input type="number" class="form-control" formControlName="nDietas" required min="0" value="0" step="any" name="nDietas" id="nDietas" onFocus="if (this.value==0) this.value='';" (change)="calculoImporteDietas()">

              </div>

              <div class="col-md-7">
                <label for="precioDieta">cuantía por dieta(€/día) <a href="http://antares.sip.ucm.es/manolo/formularios/32-2018-07-11-20180711_cuadro_dietas.pdf" target="_blank">[Ver cuadro de dietas]</a></label>
                <input type="number" class="form-control" formControlName="precioDieta" required min="0" value="0" step="any" name="precioDieta" id="precioDieta" onFocus="if (this.value==0) this.value='';" (change)="calculoImporteDietas()">

              </div>

              <div class="col-md-2">
                <label for="importeDietas">Importe</label>
                <input type="number" class="form-control" formControlName="importeDietas" required min="0" value="0" step="any" name="importeDietas" id="importeDietas" disabled>

              </div>
            </div>
            <br>

         </div>
        <!--Otros gastos-->
        <div class="form-group bordeDiv">
          <div class="row">
              <div class="col-md-10">
                <br><br>
                <label class ="tx-secondary"><b>Inscripciones a congresos, seminarios, reuniones</b></label>
              </div>

              <div class="col-md-2">
                <label for="importeOtrosGastos">Importe</label>
                <input type="number" class="form-control" formControlName="importeOtrosGastos" required min="0" value="0" step="any" name="importeOtrosGastos" id="importeOtrosGastos" onFocus="if (this.value==0) this.value='';" (change)="calculoImporteTotal('otrosgastos')">

              </div>
          </div>
          <br>
          <div class="form-group">
            <label for="imagen">Adjuntar Factura</label>
            <input (change)="seleccionarFoto($event, 'otrosgastos')" type="file" class="form-control-file" id="fotoOtrosGastos">
          </div>
          <br>
        </div>

        <!--Importe total-->
        <div class="form-group bordeDiv">
          <div class="row">
              <div class="col-md-10">
                <br><br>
                <label class ="tx-secondary"><b>Importe total:</b></label>
              </div>

              <div class="col-md-2">
                <label for="importeTotal">Importe €</label>
                <input type="number" class="form-control" value="{{importeTotal}}" step="any" name="importeTotal" id="importeTotal" disabled>
              </div>
          </div>
          <br>
        </div>





      <div class="row">

        <label class="texto-form text-center" for="relacion">Si ha utilizado los servicios de la agencia de viajes concertada, indique para qué tipo de gasto</label>

        <div class="form-group form-inline espacioIzq">

          <div class="form-check">
            <input class="form-check-input ml-1" formControlName="checkAgenciaAvion" type="checkbox" value="" id="checkAgenciaAvion">
            <label class="form-check-label mr-3" for="checkAgenciaAvion">
              Avion
            </label>
          </div>

          <div class="form-check">
            <input class="form-check-input ml-1" formControlName="checkAgenciaTren" type="checkbox" value="" id="checkAgenciaTren">
            <label class="form-check-label mr-3" for="checkAgenciaTren">
              Tren
            </label>
          </div>

          <div class="form-check">
            <input class="form-check-input ml-1" formControlName="checkAgenciaAlojamiento" type="checkbox" value="" id="checkAgenciaAlojamiento">
            <label class="form-check-label mr-3" for="checkAgenciaAlojamiento">
              Alojamiento
            </label>
          </div>

          <div>
            <span class ="tx-secondary mr-2"><b>Otros:</b></span>
            <input type="text" class="form-control" formControlName="otrosAgencia" placeholder="(Máx 50 caracteres)" maxlength="50" id="otrosAgencia">
          </div>

        </div>

        <!--<div class="form-group">
          <label class="texto-form" for="relacion">Relación con el proyecto</label>
          <textarea class="form-control" id="relacion" rows="3" placeholder="{{relacion}}" disabled></textarea>
          <div class="alerta">
            <small *ngIf="false">No puede estar vacio <br></small>
          </div>
        </div>-->
      </div>
    </div>
</form>

</div>


        <div class="form-group">
          <label class="texto-form" for="memoria">Objeto del desplazamiento en relación con la ejecución del proyecto</label>
          <textarea class="form-control" id="memoria" rows="3" formControlName="memoria" placeholder="Escribe la memoria explicativa" ></textarea>

        </div>

        <br>
        <!--<div class="form-group">
          <label class="texto-form" for="relacion">Relación con el proyecto</label>
          <textarea class="form-control" id="relacion" rows="3" placeholder="{{relacion}}" disabled></textarea>
          <div class="alerta">
            <small *ngIf="false">No puede estar vacio <br></small>
          </div>
        </div>-->

        <br>
        <div class="form-group">
          <label class="texto-form" for="observaciones">Observaciones a la hora de pagar al acreedor</label>
          <textarea class="form-control" id="observaciones" rows="3" formControlName="observaciones" placeholder="Escribe las observaciones que creas correspondientes"></textarea>
        </div>
      <br>
        <!--<a href="#"><img src="../../../../../assets/iconos/pdf.png" alt="Descargar orden pdf" width="80px"></a>-->
      <br><br>
      <button class="btn btn-success" role="button" (click)="cargarNumProyectoOrden()">Crear Orden</button>
      <button class="btn btn-danger" role="button" (click)="cancelar()">Cancelar</button>
      <br><br>

      <!--<div class="form-group">
        <button class="btn btn-rounded btn btn-success m-0" types="button" (click)="anadirGastoViaje()">Añadir Gasto</button>
      </div>-->
    </form>

</div>
