
<div class="menu">
</div>

<div class="container">
  <div class="col-md-6">
      <table>

      </table>
  </div>


  <!--Arriba IZQ -- Pendientes de revisar como ip-->
  <div class="row">
    <div class="col-md-6">
      <h4 *ngIf="listaIP?.length > 0"> Revisar como IP</h4>
      <table class="table text-center" id="tablaOrdenes" *ngIf="listaIP?.length > 0">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Estado</th>
            <th scope="col">Concepto</th>
            <th scope="col">Proyecto</th>
            <th scope="col">Ver</th>
          </tr>
        </thead>
        <tbody id="tablaOrdenes">
            <tr *ngFor="let i of elementos[0];"> <!--and maxOrdenesOK(a))">-->
                <td>{{listaIP[getOrdenPagindoIndex(i, paginaActualIP)].estado}}</td>
                <td>{{listaIP[getOrdenPagindoIndex(i, paginaActualIP)].concepto}}</td>
                <td>{{listaIP[getOrdenPagindoIndex(i, paginaActualIP)].acronimo}}</td>

                <td>
                  <button type="button" class="btn btn-link" name="button" [routerLink]="['/vistaOrdenes/verOrden/', listaIP[getOrdenPagindoIndex(i, paginaActualIP)].id]" >
                    <img src="assets/iconos/lupa.png" class="rounded ml-0 icon" alt="Editar Orden" maxwidth="10px">
                  </button>
                </td>
          </tr>
          <tr><!--Los botones llaman a las funciones anterior y siguiente y actualizan a la pagina correspondiente-->
            <button type="button" class="btn btn-link mr-2" (click) ="paginaActualIP= anterior(paginaActualIP, listaIP.length, 0)">
                <img src="assets/iconos/anterior.png" class="rounded" alt="Anterior">
            </button>

            <button type="button" class="btn btn-link" (click) = "paginaActualIP = siguiente(paginaActualIP, listaIP.length, 0)">
                <img src="assets/iconos/siguiente.png" class="rounded" alt="Siguiente">
            </button>
          </tr>
        </tbody>
      </table>
    </div>




    <!--Arriba DCHA -- Ultimas aceptadas-->
    <div class="col-md-6">
      <h4 *ngIf="aceptadas?.length > 0"> Ultimas Aceptadas</h4>
      <table class="table text-center" id="tablaOrdenes" *ngIf="aceptadas?.length > 0">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Estado</th>
            <th scope="col">Concepto</th>
            <th scope="col">Proyecto</th>
            <th scope="col">Ver</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let a of elementos[1]; index as i">
              <td>{{aceptadas[getOrdenPagindoIndex(a, paginaActualA)].estado}}</td>
              <td>{{aceptadas[getOrdenPagindoIndex(a, paginaActualA)].concepto}}</td>
              <td>{{aceptadas[getOrdenPagindoIndex(a, paginaActualA)].acronimo}}</td>
            <td>
              <button type="button" class="btn btn-link " name="button" [routerLink]="['/vistaOrdenes/verOrden/', aceptadas[getOrdenPagindoIndex(a, paginaActualA)].id]" >
                <img src="assets/iconos/lupa.png" class="rounded icon" alt="Editar Orden">
              </button>
            </td>
          </tr>
          <tr><!--Los botones llaman a las funciones anterior y siguiente y actualizan a la pagina correspondiente-->
            <button type="button" class="btn btn-link mr-2" (click) ="paginaActualA= anterior(paginaActualA, aceptadas.length, 1)">
                <img src="assets/iconos/anterior.png" class="rounded" alt="Anterior">
            </button>

            <button type="button" class="btn btn-link" (click) = "paginaActualA = siguiente(paginaActualA, aceptadas.length, 1)">
                <img src="assets/iconos/siguiente.png" class="rounded" alt="Siguiente">
            </button>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

<!--Pendientes de Modificar-->
  <div class="row">
    <div class="col-md-6">
      <h4 *ngIf="pendientes?.length > 0"> Revisar como Investigador</h4>
      <table class="table text-center" id="tablaOrdenes" *ngIf="pendientes?.length > 0">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Estado</th>
            <th scope="col">Concepto</th>
            <th scope="col">Proyecto</th>
            <th scope="col">Ver</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let a of elementos[3]; index as i">
              <td>{{pendientes[getOrdenPagindoIndex(a,   paginaActualP)].estado}}</td>
              <td>{{pendientes[getOrdenPagindoIndex(a,   paginaActualP)].concepto}}</td>
              <td>{{pendientes[getOrdenPagindoIndex(a,   paginaActualP)].acronimo}}</td>
            <td>
              <button type="button" class="btn btn-link" name="button" [routerLink]="['/vistaOrdenes/verOrden/', pendientes[getOrdenPagindoIndex(a,  paginaActualP)].id]" >
                <img src="assets/iconos/lupa.png" class="rounded icon" alt="Editar Orden">
              </button>
            </td>
          </tr>
          <tr><!--Los botones llaman a las funciones anterior y siguiente y actualizan a la pagina correspondiente-->
            <button type="button" class="btn btn-link mr-2" (click) ="paginaActualP= anterior(  paginaActualP, pendientes.length, 3)">
                <img src="assets/iconos/anterior.png" class="rounded" alt="Anterior">
            </button>

            <button type="button" class="btn btn-link" (click) = "  paginaActualP = siguiente(  paginaActualP, pendientes.length, 3)">
                <img src="assets/iconos/siguiente.png" class="rounded" alt="Siguiente">
            </button>
          </tr>
        </tbody>
      </table>
    </div>


    <div class="col-md-6">
      <h4 *ngIf="rechazadas?.length > 0"> Ultimas Rechazadas</h4>
      <table class="table text-center" id="tablaOrdenes" *ngIf="rechazadas?.length > 0">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Estado</th>
            <th scope="col">Concepto</th>
            <th scope="col">Proyecto</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let a of elementos[2]; index as i">
              <td>{{rechazadas[getOrdenPagindoIndex(a, paginaActualR)].estado}}</td>
              <td>{{rechazadas[getOrdenPagindoIndex(a, paginaActualR)].concepto}}</td>
              <td>{{rechazadas[getOrdenPagindoIndex(a, paginaActualR)].acronimo}}</td>
            </tr>
            <tr>
              <button type="button" class="btn btn-link mr-2" (click) ="paginaActualR= anterior(paginaActualR, rechazadas.length, 2)">
                <img src="assets/iconos/anterior.png" class="rounded" alt="Anterior">
              </button>

              <button type="button" class="btn btn-link" (click) = "paginaActualR = siguiente(paginaActualR, rechazadas.length, 2)">
                  <img src="assets/iconos/siguiente.png" class="rounded" alt="Siguiente">
              </button>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
