
<div class="menu">
</div>

<div class="container">
  <div class="col-md-6">
      <table>

      </table>
  </div>


  <!--Arriba IZQ -- Pendientes de revisar como ip-->
  <div class="row">
    <div class="col-md-6">
      <h4 *ngIf="ordenes?.length > 0"> Revisar como IP</h4>
      <table class="table" id="tablaOrdenes" *ngIf="ordenes?.length > 0">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Estado</th>
            <th scope="col">Concepto</th>
            <th scope="col">Proyecto</th>
            <th scope="col">Ver</th>
          </tr>
        </thead>
        <tbody id="tablaOrdenes">
            <tr *ngFor="let a of elementos;"> <!--and maxOrdenesOK(a))">--> 
                <td >{{ordenes[getOrdenPagindoIndex(a, paginaActual)].estado}}</td>
                <td>{{ordenes[getOrdenPagindoIndex(a, paginaActual)].concepto}}</td>
                <td>{{ordenes[getOrdenPagindoIndex(a, paginaActual)].acronimo}}</td>
             
                <td>
                  <button type="button" class="btn btn-link" name="button" [routerLink]="['/vistaOrdenes/verOrden/', ordenes[getOrdenPagindoIndex(a, paginaActual)].id]" >
                    <img src="assets/iconos/lupa.png" class="rounded ml-0" alt="Editar Orden" maxwidth="10px">
                  </button>
                </td>
          </tr>
          <tr><!--Los botones llaman a las funciones anterior y siguiente y actualizan a la pagina correspondiente-->
            <button type="button" class="btn btn-link mr-2" (click) ="paginaActual= anterior(paginaActual, ordenes.length)">
                <img src="assets/iconos/anterior.png" class="rounded" alt="Anterior">
            </button>
            
            <button type="button" class="btn btn-link" (click) = "paginaActual = siguiente(paginaActual, ordenes.length)">
                <img src="assets/iconos/siguiente.png" class="rounded" alt="Siguiente">
            </button>
          </tr>
        </tbody>
      </table>
    </div>
  



    <!--Arriba DCHA -- Ultimas aceptadas-->
    <div class="col-md-6">
      <h4 *ngIf="ordenes?.length > 0"> Ultimas Aceptadas</h4>
      <table class="table" id="tablaOrdenes" *ngIf="ordenes?.length > 0">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Estado</th>
            <th scope="col">Numeración</th>
            <th scope="col">Editar</th>
            <th scope="col">Borrar</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let orden of aceptadas; index as i">
              <td>{{orden.estado}}</td>
              <td>{{orden.numeracion}}</td>
            <td>
              <button type="button" class="btn btn-link" name="button" [routerLink]="['/vistaOrdenes/verOrden/', orden.id]" >
                <img src="assets/iconos/editar.png" class="rounded" alt="Editar Orden">
              </button>
            </td>
            <td>
              <button type="button" class="btn btn-link" name="button" (click)="borrarOrden(orden)" >
                <img src="assets/iconos/papelera.png" class="rounded" alt="Eliminar Orden">
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>  
  </div>

<!--Pendientes de Modificar-->
  <div class="row">
    <div class="col-md-6">
      <h4 *ngIf="ordenes?.length > 0"> Revisar como Investigador</h4>
      <table class="table" id="tablaOrdenes" *ngIf="ordenes?.length > 0">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Estado</th>
            <th scope="col">Numeración</th>
            <th scope="col">Editar</th>
            <th scope="col">Borrar</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let orden of pendientes; index as i">
              <td>{{orden.estado}}</td>
              <td>{{orden.numeracion}}</td>
            <td>
              <button type="button" class="btn btn-link" name="button" [routerLink]="['/vistaOrdenes/verOrden/', orden.id]" >
                <img src="assets/iconos/editar.png" class="rounded" alt="Editar Orden">
              </button>
            </td>
            <td>
              <button type="button" class="btn btn-link" name="button" (click)="borrarOrden(orden)" >
                <img src="assets/iconos/papelera.png" class="rounded" alt="Eliminar Orden">
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    
    <div class="col-md-6">
      <h4 *ngIf="ordenes?.length > 0"> Ultimas Rechazadas</h4>
      <table class="table" id="tablaOrdenes" *ngIf="ordenes?.length > 0">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Estado</th>
            <th scope="col">Numeración</th>
            <th scope="col">Editar</th>
            <th scope="col">Borrar</th>
          </tr>
        </thead>
        <tbody>
          <!--<tr *ngFor="let orden of ordenes">
            <td>{{orden.estado}}</td>
            <td>{{orden.numeracion}}</td>-->
            <tr *ngFor="let orden of rechazadas; index as i">
              <td>{{orden.estado}}</td>
              <td>{{orden.numeracion}}</td>
            <td>
              <button type="button" class="btn btn-link" name="button" [routerLink]="['/vistaOrdenes/verOrden/', orden.id]" >
                <img src="assets/iconos/editar.png" class="rounded" alt="Editar Orden">
              </button>
            </td>
            <td>
              <button type="button" class="btn btn-link" name="button" (click)="borrarOrden(orden)" >
                <img src="assets/iconos/papelera.png" class="rounded" alt="Eliminar Orden">
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
