#padre {
  position: relative;
}

#uno {
  background: gold;
  border-radius: 4px;
  left: 389px;
  top: -1304px;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  width: 140px;
  height: 30px;
}
