<div class="card">
  <div class="card bg-dark">
    <div class="card-header text-white" *ngIf="!this.botonCrear">
      {{titulo}}
    </div>
¡
      <div class="card-header text-white" *ngIf="this.botonCrear">
        Editar Acreedor
      </div>
  </div>

  <form *ngIf= "acreedor" [formGroup]="formAcreedores" class="m-3">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="nombre">   Nombre</label>
        <input type="text" class="form-control"formControlName="nombre" id="nombre" placeholder="Nombre" *ngIf="!this.botonCrear" name="nombre" maxLength="50">
        <input type="text" class="form-control"formControlName="nombre" id="nombre" value="{{acreedor.nombre}}" *ngIf="this.botonCrear" name="nombre" maxLength="50">

        <div class="alerta">
          <small *ngIf="!formValid && nombreVacio">No puede estar vacio <br></small>         
        </div>
      </div>
      <div class="form-group col-md-6">
        <label for="nif"> NIF</label>
        <input type="text" class="form-control" formControlName="nif" id="nif" placeholder="Nif" name="nif" *ngIf="!this.botonCrear" maxLength="10" pattern="(([X-Z]{1})([-]?)(\d{7})([-]?)([A-Z]{1}))|((\d{8})([-]?)([A-Z]{1}))">
        <input type="text" class="form-control" formControlName="nif" id="nif" value="{{acreedor.nif}}" *ngIf="this.botonCrear" name="nif"  pattern="(([X-Z]{1})([-]?)(\d{7})([-]?)([A-Z]{1}))|((\d{8})([-]?)([A-Z]{1}))" disabled>
        <div class="alerta">
          <small *ngIf="!formValid && nifVacio">No puede estar vacio <br></small>         
          <small *ngIf="!formValid && formAcreedores.get('nif').hasError('pattern')">El formato introducido no es válido<br></small>         
          <small *ngIf="!formValid && formAcreedores.get('nif').hasError('minlength')">El campo es demasiado corto<br></small>         
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="iban">IBAN</label>
        <input type="text" class="form-control" formControlName="iban" id="iban" placeholder="IBAN" *ngIf="!this.botonCrear" name="iban" maxLength="34">
        <input type="text" class="form-control" formControlName="iban" id="iban" value="{{acreedor.iban}}" *ngIf="this.botonCrear" name="iban" maxLength="34">
        <div class="alerta">
          <small *ngIf="!formValid && ibanVacio">No puede estar vacio <br></small>         
          <small *ngIf="!formValid && formAcreedores.get('iban').hasError('minlength')">El campo es demasiado corto <br></small>         
        </div>
      </div>
    </div>

    <button class="btn btn-success" role="button" (click)="crearAcreedor()" *ngIf="!this.botonCrear">Crear</button>
    <button class="btn btn-success" role="button" (click)="actualizarAcreedor()" *ngIf="this.botonCrear">Guardar</button>
    

    <button class="btn btn-danger ml-2" role="button" (click)="cancelar()">Cancelar</button>
  </form>
  </div>

