

.form-control{
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 1px solid #228B22;
    border-radius: 0%;

}

.form-control:focus{
    border-color: #228B22;
    border-width: 2px;
    box-shadow: none;
  }
  
  
/*h5{
    vertical-align: middle;
    margin-left: 35%;
}*/

.icon{
    width: 60%;
    min-width: 16px;
    max-width: 24px;
}



#userIcon{
    width:60%;

    min-width: 100px;
}

.alerta{
    color: red;
  }
  