
<div class="card-body text-secondary">
    <h1 class="card-title text-center">Acreedores</h1>

    <div class="my-3">
      <button class="btn btn-rounded btn btn-success" types="button" [routerLink] = "['/acreedores/form-acreedores.component']">Nuevo Acreedor</button>
    </div>

    <table class="table text-center">
      <thead class="thead-dark">
        <tr>
          <th>Nombre</th>
          <th>Nif</th>
          <th>Iban</th>
          <th>Editar</th>
          
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let a of elementos[0]">
          <td>{{ acreedores[getOrdenPagindoIndex(a,   paginaActual)].nombre }}</td>
          <td>{{ acreedores[getOrdenPagindoIndex(a,   paginaActual)].nif }}</td>
          <td>{{ acreedores[getOrdenPagindoIndex(a,   paginaActual)].iban }}</td>
          <td>
            <img src="assets/iconos/editar.png" class="rounded" alt="Editar Acreedor" [routerLink]="['/acreedores/form-acreedores.component', acreedores[getOrdenPagindoIndex(a,   paginaActual)].nif]">
          </td>
          
        </tr>

        <tr><!--Los botones llaman a las funciones anterior y siguiente y actualizan a la pagina correspondiente-->
          <button  type="button" class="btn btn-link mr-2" (click) ="paginaActual= anterior(paginaActual, acreedores.length, 0)">
              <img src="assets/iconos/anterior.png" class="rounded" alt="Anterior">
          </button>
          
          <button  type="button" class="btn btn-link" (click) = "paginaActual = siguiente(paginaActual, acreedores.length, 0)">
              <img  src="assets/iconos/siguiente.png" class="rounded" alt="Siguiente">
          </button>
         
        </tr>
      </tbody>
    </table>
  </div>
