<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>

<body>
    <div class="cont-login">
        <img src="assets/geckop.png" class="imagenUsuario" alt="imagen del logo">
        <h1>LOGIN</h1>
        <form (ngSubmit)="login()">
            <!--Email-->
            <div class="cont-email">
                <img src="assets/iconos/user.png" alt="icono usuario">
                <input type="text" class="input" placeholder="DNI" name="dni" [(ngModel)]="usuario.dni">
            </div>

            <!--Password-->
            <div class="cont-password">
                <img src="assets/iconos/lock.png" alt="icono usuario">
                <input type="password" class="input" placeholder="Password" name="password" [(ngModel)]="usuario.password">
            </div>
            <input type="submit" class="input" value="Log in">

            <a href="#">Forgot password?</a>
            <br>
            <a routerLink="/registro">Don´t have an account?</a>
        </form>
    </div>
</body>

</html>
