
 <div>
    <!--<h3>Nombre completo del proyecto (acronimo) - Nº Contabilidad</h3>-->
    <h3>{{proyecto.acronimo}} - {{proyecto.nContabilidad}}</h3>
    <span>{{proyecto.fechaInicio}} - {{proyecto.fechaCierre}}</span> 
    <button type="button" class="btn btn-link" name="button" (click)="verUsuarios(proyecto)" >
      <img src="assets/iconos/papelera.png" class="rounded" alt="Eliminar Proyecto">
    </button>
  </div>
<div class="row mt-4">


  <!-- PARTE IZQUIERDA -->
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-12">
        <h5>Ordenes Pendientes</h5>
        <table class="table table-bordered table-striped text-center">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Fecha</th>
              <th scope="col">Nombre</th>
              <th scope="col">Concepto</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>20-10-2018</td>
              <td>Azahara Fernández Notario</td>
              <td>Viaje a Londres</td>
            </tr>
            <tr>
              <td>20-10-2018</td>
              <td>Isabel Núñez de la Torre</td>
              <td>Impresora</td>
            </tr>
            <tr>
              <td>20-10-2018</td>
              <td>Mercedes García Merayo</td>
              <td>Comida RITSI</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

      <!--<div class="col-md-6">
        <label>Fecha Ini</label>
      </div>

      <div class="col-md-6">
        <label>Acronimo</label>
      </div>-->



  </div>


  <!-- PARTE DERECHA -->
  <div class="col-md-6">
    <div class="row">
      <div class="col-lg-12 ml-2">
          <h5>Investigadores del Proyecto</h5>
          <table class="table table-bordered table-striped text-center">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Rol</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let inv of nombresInvestigadores; index as i" >
                <td>{{ inv }}</td>
                <td>{{ investigadoresProyecto[i].rol }}</td>
              </tr>
              
            </tbody>
          </table>
      
      </div>
    </div>
  </div>

</div>
