
 <form [formGroup]="formFecha">
    <!--<h3>Nombre completo del proyecto (acronimo) - Nº Contabilidad</h3>-->
    <h3>{{proyecto.acronimo}}</h3>
    <div>
      <table class="table text-center">
        <thead class="thead-dark">
          <tr>
            <th>Fecha de Inicio</th>
            <th colspan="2">Fecha de Cierre</th>
            <th>Nombre</th>
            <th>Presupuesto</th>
            <th>Nºcontabilidad</th>
          </tr>
        </thead>

        <tbody>
           <tr>
            <td>{{ proyecto.fechaInicio }}</td>
            <td>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                {{proyecto.fechaCierre}}
                <button *ngIf="!editarFechaActiva" type="button" class="btn btn-link" name="button" (click)="editarFecha()" >
                    <img src="assets/iconos/editDate.png" class=" icon" alt="Editar Proyecto">
                  </button>
            </td>

            <td *ngIf="permitirEdicion">
                <input *ngIf="editarFechaActiva" type="date" class="form-control" formControlName="fechaCierre" id="fechaCierre" placeholder="fecha de cierre" name="fechaCierre">
                  <button *ngIf="editarFechaActiva" type="submit" class="btn btn-link" name="button" (click)="guardarFecha()" >
                    <img src="assets/iconos/guardar.png" class="rounded icon" alt="Guardar Fecha">
                  </button>
                  <button *ngIf="editarFechaActiva" type="submit" class="btn btn-link" name="button" (click)="editarFecha()" >
                      <img src="assets/iconos/menos.png" class="rounded icon" alt="Cancelar">
                    </button>
            </td>
            <td>{{ proyecto.nombre }}</td>
            <td>{{ proyecto.presupuesto }}</td>
            <td>{{ proyecto.nContabilidad }}</td>
           </tr>
        </tbody>
      </table>


    </div>


  </form>
<div class="row mt-4">


  <!-- PARTE IZQUIERDA -->
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-12">
        <h5 *ngIf="ordenes?.length > 0"> Ordenes Pendientes</h5>
        <table class="table text-center" id="tablaOrdenes" *ngIf="ordenes?.length > 0">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Fecha</th>
              <th scope="col">Estado</th>
              <th scope="col">Concepto</th>
              <th scope="col">Ver</th>
            </tr>
          </thead>
          <tbody id="tablaOrdenes">
              <tr *ngFor="let i of elementos[0];"> <!--and maxOrdenesOK(a))">-->
                <td>{{ordenes[getOrdenPagindoIndex(i, paginaActual)].fechaOrden}}</td>
                  <td>{{ordenes[getOrdenPagindoIndex(i, paginaActual)].estado}}</td>
                  <td>{{ordenes[getOrdenPagindoIndex(i, paginaActual)].concepto}}</td>

                  <td>
                    <button type="button" class="btn btn-link" name="button" [routerLink]="['/vistaOrdenes/verOrden/', ordenes[getOrdenPagindoIndex(i, paginaActual)].id]" >
                      <img src="assets/iconos/lupa.png" class="rounded ml-0 icon" alt="Editar Orden" maxwidth="10px">
                    </button>
                  </td>
            </tr>
            <tr><!--Los botones llaman a las funciones anterior y siguiente y actualizan a la pagina correspondiente-->
              <button type="button" class="btn btn-link mr-2" (click) ="paginaActual= anterior(paginaActual, ordenes.length, 0)">
                  <img src="assets/iconos/anterior.png" class="rounded" alt="Anterior">
              </button>

              <button type="button" class="btn btn-link" (click) = "paginaActual = siguiente(paginaActual, ordenes.length, 0)">
                  <img src="assets/iconos/siguiente.png" class="rounded" alt="Siguiente">
              </button>
            </tr>
          </tbody>
      </table>
      </div>
    </div>

      <!--<div class="col-md-6">
        <label>Fecha Ini</label>
      </div>

      <div class="col-md-6">
        <label>Acronimo</label>
      </div>-->



  </div>


  <!-- PARTE DERECHA -->
  <div class="col-md-6">
    <div class="row">
      <div class="col-lg-12 ml-2">
          <h5>Investigadores del Proyecto</h5>
          <table class="table table-bordered table-striped text-center">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Rol</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let inv of nombresInvestigadores; index as i" >
                <td>{{ inv }}</td>
                <td>{{ investigadoresProyecto[i].rol }}</td>
              </tr>
              <tr>
                <td *ngIf="permitirEdicion" colspan="2">
                  <button type="button" class="btn btn-link" name="button" (click)="cargarNuevosUsuarios()" >
                    <img src="assets/iconos/mas.png" class="rounded" alt="Añadir Investigador">
                  </button>
                </td>
              </tr>

            </tbody>
          </table>

      </div>
    </div>
  </div>

  <div class="col-md-6">
    <!--Para mantener la tabala de añadir investigadores a la derecha-->
  </div>

  <!-- Añadir investigadores-->
  <div class="col-md-6">
    <div class="row">
      <div class="col-lg-12 ml-2">
          <form [formGroup]="formInvestigador" class="col-sm p-0" >
            <table  *ngIf="editarUsuarios" class="table table-bordered table-striped text-center">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Nombre</th>
                  <th scope="col">Rol</th>
                  <th scope="col">Añadir</th>
                </tr>
              </thead>
              <tbody *ngFor="let usuario of usuarios; let i = index;" >
                  <tr>
                    <td>{{ usuario.nombre }} {{ usuario.apellido1 }} {{ usuario.apellido2 }}</td>
                    <td>
                      <select formControlName="rol" class="form-control" id="rol"  name="rol">
                          <option (onload)="selected" value="Miembro del proyecto" selected >Miembro del proyecto </option>
                          <option  value="Miembro del equipo de trabajo">Miembro del equipo de trabajo </option>
                          <option  value="Profesor Invitado">Profesor Invitado</option>
                      </select>
                    </td>
                    <td>
                        <button type="button" class="btn btn-link" name="button" (click)="anadirInvestigador(usuario)">
                          <img src="assets/iconos/mas.png" class="rounded" alt="Quitar Investigador">
                        </button>
                    </td>

                  </tr>


              </tbody>
            </table>
          </form>

      </div>
    </div>
  </div>

</div>
