.icon{
    width: 60%;
    min-width: 16px;
    max-width: 20px; 
}
.icon2{
    width: 60%;
    min-width: 16px;
    max-width: 16px; 
}

.table td, .table th, .table tr  {
   /* padding: .5rem;*/
    vertical-align: top;
    border-top: 1px solid #dee2e6;
  }