.btn-danger, .btn-success{
  margin-left: 10px;
  margin-bottom: 10px;
}

.form-control:focus{
  border-color: #228B22;
  border-width: 2px;
  box-shadow: none;
}

.texto-form {
  width: 100%;
  font-family: sans-serif;
  color: #424242;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}

.form-group {
  padding-left: 2%;
  padding-right: 2%;
}

.custom-select:focus{
  border-color: #228B22;
  border-width: 2px;
  box-shadow: none;
  outline: none;
}

.custom-select option{
    background-color: #ffffff;
}

select:hover{
  outline: none;
}

.alerta{
  color: red;
}

