<div class="card">
    <!--TITULO-->
    <div class="card bg-dark">
      <div class="card-header text-white text-center">
        ORDEN DE PAGO GASTOS GENERALES
      </div>
    </div>


    <form [formGroup]="formOrden">

      <div class="form-row mt-3">


        <!--FECHA PRUEBAS-->

        <div class="form-group col-md-6">
          <label class="texto-form">Proyecto</label>
          <select class="custom-select" formControlName="acronimo" (change)="capturarValor()">
            <option value="" selected>Seleccione acrónimo del proyecto</option>
            <option *ngFor="let proyecto of misProyectos; index as i" value="{{ misProyectos[i].acronimo }}">{{ proyecto.acronimo }}</option>
          </select>
          <small *ngIf="!crear &&formOrden.get('acronimo').hasError('required')" class="alerta">No puede estar vacio. Seleccione un proyecto</small>
        </div>

        <div class="form-group col-md-6">
          <label class="texto-form">Acreedor</label>
          <select class="custom-select" formControlName="nif_acreedor">
            <option value="" selected>Seleccione acreedor</option>
            <option *ngFor="let acreedor of acreedores" value="{{ acreedor.nif }}">{{acreedor.nombre}} -- {{ acreedor.nif }}</option>
          </select>
          <small *ngIf="!ibanRegistrado" class="alerta">No estás registrado como acreedor. Registraté si quieres ser el acreedor de la orden </small>

        </div>

      </div>

      <div class="form-row">

          <div class="form-group col-md-6">
            <label class="texto-form">Concepto</label>
            <input type="text" class="form-control" formControlName="concepto" name="concepto" id="concepto" placeholder="Concepto" maxlength="50"   >
            <small *ngIf="!crear &&formOrden.get('concepto').hasError('required')" class="alerta">No puede estar vacio. </small>
          </div>

          <div class="form-group col-md-6">
            <label class="texto-form">Num. Contabilidad</label>
            <input type="text" class="form-control"  name="num_contabilidad" id="num_contabilidad" placeholder="{{num_contabilidad}}" maxlength="12" disabled>
           </div>

        </div>

      <!--------------------------------------------------GASTOS----------------------------------------------------------------->
      <!--<app-gastos></app-gastos>-->
      <!--<p [hidden]="opcionSeleccionada=='0'">Has seleccionado la opcion {{misProyectos[i].acronimo}}</p>-->
      <div class="card-body" [hidden]="!verSeleccionada">

        <form *ngIf="gastos?.length != 5 " class="card mb-4 bordeTransporte"  [formGroup]="formGastos" >
          <h3 class="texto-form mt-3">Relación de gastos</h3>
          <!-- Entradas simples -->
        <div class="form-group">
          <label for="descripcion">Partida de Gastos</label>
          <textarea type="text" class="form-control" formControlName="descripcion" id="descripcion" name="descripcion" rows="5" placeholder="Descripción (Máx 150 caracteres)" maxlength="150"></textarea>
        </div>

      <div class="form-group">
        <div class="row">
          <div class="col-md-6">
            <label class ="tx-secondary" for="importe">Importe</label>
            <input type="text" class="form-control" formControlName="importe" name="importe" id="importe" placeholder="Importe" maxlength="12">
          </div>
          <div class="col-md-6">
            <label for="nFactura">Nº de Factura</label>
            <input type="text" class="form-control" formControlName="nFactura" name="nFactura" id="nFactura" placeholder="Nº de Factura" maxlength="12">
           </div>
        </div>
      </div>


          <div class="form-group">
            <label for="imagen">Adjuntar Imagen</label>
            <input (change)="seleccionarFoto($event)" type="file" class="form-control-file" id="imagen">
          </div>
          <div class="form-group">
            <button class="btn btn-rounded btn btn-success m-0" types="button" (click)="anadirGasto()">Añadir Gasto</button>
          </div>
        </form>

      <!--TABLA GASTOS-->
        <table class="table table-bordered table-striped text-center">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Nº Factura</th>
              <th>Concepto</th>
              <th>Importe</th>
              <th>Imagen</th>
              <th>Eliminar</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let g of gastos">
              <td>{{ g.nFactura}}</td>
              <td class="maximoAncho">{{ g.descripcion }}</td>
              <td>{{ g.importe}}</td>

         <!--Ver foto gasto-->
              <td>
                  <img src="assets/iconos/lupa.png" class="rounded icon" alt="ver foto" (click)='verFoto(g.foto)'>
              </td>
              <td>
                <img class="rounded icon" src="assets/iconos/papelera.png" class="rounded icon" alt="Eliminar gasto" (click)='delete(g)'>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <br>
      <div class="form-group">
        <label class="texto-form" for="memoria">Memoria explicativa de los gastos</label>
        <textarea class="form-control" id="memoria" rows="3" formControlName="memoria" placeholder="Escribe la memoria explicativa"  maxlength="150" ></textarea>
        <small *ngIf="!crear &&formOrden.get('memoria').hasError('required')" class="alerta">No puede estar vacio. </small>
      </div>

      <br>
      <div class="form-group">
        <label class="texto-form" for="relacion">Relación con el proyecto</label>
        <textarea class="form-control" id="relacion" rows="3" formControlName="relacion" placeholder="Escribe la relación con el proyecto"  maxlength="150"></textarea>
        <small *ngIf="!crear &&formOrden.get('relacion').hasError('required')" class="alerta">No puede estar vacio. </small>
      </div>

      <br>
      <div class="form-group">
        <label class="texto-form" for="observaciones">Observaciones a la hora de pagar al acreedor</label>
        <textarea class="form-control" id="observaciones" rows="3" formControlName="observaciones" placeholder="Escribe las observaciones que creas correspondientes"  maxlength="150"></textarea>
        <small *ngIf="!crear &&formOrden.get('observaciones').hasError('required')" class="alerta">No puede estar vacio. </small>
      </div>
      <br>
      <!-- <a href="#"><img src="../../../../../assets/iconos/pdf.png" alt="Descargar orden pdf" width="80px"></a>-->
      <br><br>
      <button class="btn btn-success" role="button" (click)="cargarNumProyectoOrden()">Crear Orden</button>
      <button class="btn btn-danger" role="button" (click)="cancelar()">Cancelar</button>
      <br><br>
    </form>





</div>
