<div class="card-body text-secondary">
    <h3 class="card-title text-center">Gastos</h3>

    <div class="my-3">
      <button class="btn btn-rounded btn btn-success" types="button" [routerLink] = "['/add-orden/gastos/form-gastos/form-gastos.component']">añadir gasto</button>
    </div>

<!--TABLA GASTOS-->
    <table class="table table-bordered table-striped text-center">
      <thead class="thead-dark">
        <tr>
          <th>Tipo</th>
          <th>Importe</th>
          <th>Iva</th>
          <th>Ver</th>
          <th>Eliminar</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let gasto of gastos">
          <td>Determinar</td>
          <td>{{ gasto.importe }}</td>
          <td>{{ gasto.iva }}</td>
          <td>
            <button type="button" class="btn btn-link" name="button" [routerLink]="['/add-orden/gastos/form-gastos/ver-gasto.component', gasto.id]">
              <img src="assets/iconos/editar.png" class="rounded" alt="Editar Acreedor">
            </button>
          </td>
          <td>
            <button type="button" class="btn btn-link" name="button" (click)='delete(gasto)' >
              <img src="assets/iconos/papelera.png" class="rounded" alt="Eliminar gasto">
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
