<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">NIF</th>
      <th scope="col">IBAN</th>
      <th scope="col">Button</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Mercedes</th>
      <td>123456789A</td>
      <td>ES11112222333344445555</td>
      <td>Botón</td>
    </tr>
    <tr>
      <th scope="row">Manuel</th>
      <td>987654321Z</td>
      <td>ES55554444333322221111</td>
      <td>Botón</td>
    </tr>
  </tbody>
</table>
