<!--<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">NIF</th>
      <th scope="col">IBAN</th>
      <th scope="col">Button</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Pepito</th>
      <td>123456789A</td>
      <td>ES11112222333344445555</td>
      <td>Botón</td>
    </tr>
    <tr>
      <th scope="row">Manuel</th>
      <td>987654321Z</td>
      <td>ES55554444333322221111</td>
      <td>Botón</td>
    </tr>
  </tbody>
</table>-->

<div class="card border-secondary mb-3">
  <div class="card-header">Acreedores</div>
  <div class="card-body text-secondary">
    <h5 class="card-title">Listado de acreedores</h5>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>nif</th>
          <th>iban</th>
          <th>nombre</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let acreedor of acreedores">
          <td>{{ acreedor.nif }}</td>
          <td>{{ acreedor.iban }}</td>
          <td>{{ acreedor.nombre }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
