<form>
<!-- Entradas simples -->
    <div class="form-group">
        <label for="desc">   Descripción</label>
        <input type="text" class="form-control" [(ngModel)]="gasto.descripcion" id="desc" name="desc" placeholder="Descripción" disabled>
    </div>

    <div class="form-row">
        <div class="col">
            <label for="importe">   Importe</label>
            <input type="text" class="form-control" [(ngModel)]="gasto.importe" name="importe" id="importe" placeholder="Importe" disabled>
        </div>
        <div class="col">
            <label for="iva">   IVA</label>
            <input type="text" class="form-control" [(ngModel)]="gasto.iva" name="iva" id="iva" placeholder="IVA" disabled>
        </div>
    </div>
  <br>
      <div class="form-group">
        <br>
          <select class="custom-select">
            <option selected>Tipo de gasto</option>
            <option value="tg1">Tipo 1</option>
            <option value="tg2">Tipo 2</option>
            <option value="tg3">Tipo 3</option>
            <option value="tg4">Tipo 4</option>
            <option value="tg5">Tipo 5</option>
          </select>

          <!--<select class="custom-select" id="tipo" formControlName="tipo" name="tipo">
            <option *ngFor="let usuario of usuarios_anadidos" value="{{usuario.dni}}">{{ usuario.nombre }} {{usuario.apellido1}} {{usuario.apellido2}} </option>
          </select>-->
      </div>

      <div class="form-group">
        <label for="imagen">    Imágenes</label>
        <input type="file" class="form-control-file" id="imagen">
      </div>

    <br>
        <button class="btn btn-danger" role="button" (click)="cancelar()">Atrás</button>
      </form>
