<div class="card-body text-secondary">
    <h1 class="card-title text-center">Orden de Pago</h1>

    <div class="centrar">
      <button class="btn btn-rounded btn btn-success" types="button" [routerLink] = "['../add-orden/add-orden.component']">Gastos generales</button>

      <button class="btn btn-rounded btn btn-success" types="button" [routerLink] = "['../add-orden/add-orden.component']">Viajes y Desplazamientos</button>
    </div>

    <div>
      <button class="btn btn-rounded btn btn-danger" types="button" [routerLink] = "['/vista-ordenes']">Cancelar</button>
    </div>
</div>
